<nb-layout>
  <nb-layout-column>
    <div class="p-grid dash-container vertical-container">

      <div class="p-col-12"></div>

      <div class="p-col-12"></div>

      <div class="p-col-12"></div>

      <div class="p-col-12"></div>

      <div class="p-col-12 p-fluid">
        <div class="p-text-center p-text-bold title-dash">
          ¿Qué operación deseas realizar?
        </div>
      </div>

      <div class="p-col-12"></div>
      <div class="p-col-12"></div>

      <div class="p-md-3 p-col-12"></div>
      <div class="p-md-3 p-sm-6 p-col-12">
        <div class="p-grid p-nogutter p-ai-center vertical-container">
          <div class="p-col-12">
            <button
              pButton
              pRipple
              type="button"
              [routerLink]="['../ebox']"
              label="Alta / Renovación de Ebox"
              style="
                background: #00e49a;
                color: #ffffff;
                border: none;
                font-weight: 700;
              "
              class="p-button-raised blockbtn centerbtn"
            ></button>
          </div>
          <div class="p-col-12" style="height: 3rem"></div>
          <div class="p-col-12">
            <button
              pButton
              [routerLink]="['../package']"
              pRipple
              type="button"
              label="Vender Paquete"
              style="
                background: #47a7dd;
                color: #ffffff;
                border: none;
                font-weight: 700;
              "
              class="p-button-raised blockbtn centerbtn"
            ></button>
          </div>
        </div>
      </div>
      <div
        class="p-col-12 dash-column"
        style="height: 3rem; display: none"
      ></div>
      <div class="p-md-3 p-sm-6 p-col-12">
        <div class="p-grid p-nogutter p-ai-center vertical-container">
          <div class="p-col-12">
            <button
              pButton
              pRipple
              type="button"
              [routerLink]="['../features']"
              label="Vender Guía"
              style="
                background: #6d7cff;
                color: #ffffff;
                border: none;
                font-weight: 700;
              "
              class="p-button-raised blockbtn centerbtn"
            ></button>
          </div>
          <div class="p-col-12" style="height: 3rem"></div>
          <div class="p-col-12">
            <button
              pButton
              pRipple
              [routerLink]="['../email']"
              type="button"
              label="Registrar Correo de Salida"
              style="
                background: #ff73af;
                color: #ffffff;
                border: none;
                font-weight: 700;
              "
              class="p-button-raised blockbtn centerbtn"
            ></button>
          </div>
        </div>
      </div>
      <div class="p-md-3 p-col-12"></div>

      <div class="p-col-12">
        <!--<nb-select placeholder="Entradas" [(selected)]="selView" shape="semi-round" fullWidth
          (selectedChange)="sum({filteredValue:almacen})">
          <nb-option value="files">Por Filas</nb-option>
          <nb-option value="id">Por SKU</nb-option>
          <nb-option value="folio">Por Folio</nb-option>
        </nb-select>-->
      </div>
    </div>
  </nb-layout-column>
</nb-layout>
