<nb-layout>
  <nb-layout-column>
    <div class="p-grid vertical-container">
      <div class="p-col-12"></div>

      <div class="p-col-12"></div>
      <div class="p-col">
        <app-stepper-detail></app-stepper-detail>
      </div>
      <div class="p-col-12"></div>
      <div class="p-col-12"></div>
      <div class="p-col-12">
        <div class="p-text-center p-text-bold" style="font-size: 36px">
          Llene los datos para poder calcular el importe de la guia
        </div>
      </div>
      <div class="p-col-12"></div>
      <div class="p-col-12"></div>
      <div class="p-col-5"></div>
      <div class="p-d-flex">
        <button
          pButton
          pRipple
          type="button"
          style="background: #eb5757; color: #ffffff"
          label="Cancel"
          [routerLink]="['../../dash', id]"
          class="p-button-danger"
        ></button>

        <button
          pButton
          pRipple
          type="button"
          style="background: #ffffff; border: 1px solid #c1c9d2"
          label="Previous"
          [routerLink]="['../../dash', id]"
          class="p-mx-2"
        ></button>

        <button
          pButton
          pRipple
          type="button"
          style="background: #27ae60; color: #ffffff"
          label="Next"
          [routerLink]="['../../prices', id]"
          class="p-button-success"
        ></button>
      </div>
      <div class="p-col-5"></div>
      <div class="p-col-12"></div>
      <div class="p-col-12"></div>
      <div class="p-col-12"></div>
      <form class="p-grid" [formGroup]="LoginForm!" (ngSubmit)="onSubmit()">
        <div class="p-col-4"></div>
        <div class="p-col-5">
          <div class="p-grid">
            <div class="p-col-6">
              <div class="p-field-radiobutton">
                <p-radioButton
                  name="typeSend"
                  formControlName="typeSend"
                  value="internacional"
                  inputId="internacional"
                ></p-radioButton>

                <label for="internacional">Envio Internacional</label>
              </div>
              <div class="p-field-radiobutton">
                <p-radioButton
                  name="typeSend"
                  value="nacional"
                  formControlName="typeSend"
                  inputId="nacional"
                ></p-radioButton>
                <label for="nacional">Envio Nacional</label>
              </div>
            </div>

            <div class="p-col-4">
              <label for="dropdown" class="form-control-label"
                >País destino</label
              >
              <p-dropdown
                [options]="paises"
                class="form-control-cakb"
                formControlName="country"
                optionLabel="name"
                optionValue="code"
                placeholder="Seleccionar"
              ></p-dropdown>
            </div>
          </div>
        </div>
        <div class="p-col-3"></div>
        <div class="p-col-4"></div>
        <div class="p-col-5">
          <div class="p-fluid">
            <label for="float-input" class="form-control-label"
              >Código postal Origen</label
            >
            <input
              id="float-input"
              class="form-control-input"
              pKeyFilter="num"
              formControlName="postalCodeOrg"
              type="text"
              pInputText
            />
          </div>
          <div class="p-fluid">
            <label for="float-input" class="form-control-label"
              >Código Postal Destino</label
            >
            <input
              id="float-input"
              class="form-control-input"
              pKeyFilter="num"
              formControlName="postalCodeDest"
              type="text"
              pInputText
            />
          </div>
        </div>
        <div class="p-col-12"></div>
        <div class="p-col-4"></div>
        <div class="p-col-5">
          <h3>Medidas del envió</h3>

          <div class="p-grid p-fluid">
            <div class="p-col-12 p-md-6 p-lg-4">
              <label for="dropdown" class="form-control-label"
                >Seleccionar</label
              >
              <p-dropdown
                [options]="tipos"
                class="form-control-cakb"
                optionLabel="name"
                formControlName="typePackage"
              ></p-dropdown>
            </div>
            <div class="p-col-12 p-md-6 p-lg-4">
              <span>Cantidad</span>
              <input
                type="text"
                pKeyFilter="num"
                formControlName="amount"
                nbInput
                class="form-control-input-feature"
              />
            </div>
            <div class="p-col-12 p-md-6 p-lg-4">
              <span>Peso</span>
              <input
                type="text"
                pKeyFilter="num"
                nbInput
                placeholder="KG"
                formControlName="weight"
                class="form-control-input-feature"
              />
            </div>

            <div class="p-col-12 p-md-6 p-lg-4">
              <span>Ancho</span>
              <input
                type="text"
                pKeyFilter="num"
                formControlName="width"
                placeholder="CM"
                nbInput
                class="form-control-input-feature"
              />
            </div>

            <div class="p-col-12 p-md-6 p-lg-4">
              <span>Largo</span>
              <input
                type="text"
                pKeyFilter="num"
                formControlName="length"
                placeholder="CM"
                nbInput
                class="form-control-input-feature"
              />
            </div>

            <div class="p-col-12 p-md-6 p-lg-4">
              <span>Alto</span>
              <input
                type="text"
                pKeyFilter="num"
                formControlName="height"
                placeholder="CM"
                nbInput
                class="form-control-input-feature"
              />
            </div>

            <div class="p-col-8"></div>
            <div class="p-col-12 p-md-6 p-lg-4">
              <button
                nbButton
                fullWidth
                style="background: #2130b8"
                status="primary"
                type="submit"
              >
                Agregar
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </nb-layout-column>
</nb-layout>
