<nb-layout>
  <nb-layout-column>
    <div class="p-grid dash-container vertical-container">
      <div class="p-col-12 franjaRoja">
        Termina de configurar tu cuenta y tus datos de facturación
      </div>
      <div class="p-col-12"></div>
      <div class="p-col-12">
        <div class="p-grid p-fluid boxBrown">
          <div class="p-col-4">
            Bienvenido <span style="color: #eb5757">Mauricio Reyes</span>
          </div>
          <div class="p-col-4"></div>
          <div class="p-col-2">
            <button nbButton status="success" [routerLink]="['../../cotizar', id]"> Cotizar Guia</button>
          </div>
          <div class="p-col-2">
            <button nbButton status="primary">Realizar recarga</button>
          </div>
        </div>
      </div>
      <div class="p-col-12"></div>
      <div class="p-col-3">
        <div class="p-fluid boxRed">
          <p>Guias Realizadas</p>
          <p>0.00</p>
        </div>
      </div>
      <div class="p-col-3">
        <div class="p-fluid boxRed">
          <p>Total de recargas</p>
          <p>$ 0.00</p>
        </div>
      </div>
      <div class="p-col-3">
        <div class="p-fluid boxRed">
          <p>Costo promedio</p>
          <p>$ 0.00</p>
        </div>
      </div>
      <div class="p-col-3">
        <div class="p-fluid boxRed">
          <p>Peso promedio</p>
          <p>0.000 Kg</p>
        </div>
      </div>
      <div class="p-col-12"></div>

      <div class="p-col-5 boxBrown">
        <div class="p-grid gap-4">
          <div class="p-col-4">
            <div class="boxPrimary">
              <p>0</p>
              <p>Shipped</p>
            </div>
            <div class="boxYellow">
              <p>0</p>
              <p>Shipped</p>
            </div>
            <div class="boxLittleblue">
              <p>0</p>
              <p>Shipped</p>
            </div>
          </div>
          <div class="p-col-4">
            <div class="boxDark">
              <p>0</p>
              <p>Shipped</p>
            </div>
            <div class="boxOrange">
              <p>0</p>
              <p>Shipped</p>
            </div>
            <div class="boxPurple">
              <p>0</p>
              <p>Shipped</p>
            </div>
          </div>
          <div class="p-col-4">
            <div class="boxPrimary">
              <p>0</p>
              <p>Shipped</p>
            </div>
            <div class="boxGreen">
              <p>0</p>
              <p>Shipped</p>
            </div>
            <div class="boxLittlepurple">
              <p>0</p>
              <p>Shipped</p>
            </div>
          </div>
        </div>
      </div>
      <div class="p-col-7"></div>

      <div class="p-col-12"></div>

      <div class="p-col-5 tableBrown">
        <table class="tableCenter">
          <thead class="tableCenterHeader">
            <tr class="tableCenterHeader">
              <th>Trasportitas</th>
              <th>Total</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Estafeta</td>
              <td>10</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="p-col-2"></div>
      <div class="p-col-5 tableBrown">
        <table class="tableCenter">
          <thead class="tableCenterHeader">
            <tr class="tableCenterHeader">
              <th>Destinos</th>
              <th style="margin-left: 25px;">No hay Registros</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Destino</td>
              <td>10</td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="p-col-12"></div>
    </div>
  </nb-layout-column>
</nb-layout>
