<nb-layout>
  <nb-layout-column>
    <div class="p-grid package-container vertical-container">
      <div class="p-col-12"></div>
      <div class="p-col-12"></div>

      <div class="p-col-12"></div>
      <div class="p-col-12"></div>
      <div class="p-col-12">
        <div class="p-text-center p-text-bold" style="font-size: 36px">
          Registrar paquete
        </div>
      </div>
      <div class="p-col-12"></div>
      <div class="p-col-12"></div>

      <div class="p-col-12"></div>
      <div class="p-col-12"></div>
      <form [formGroup]="LoginForm!" (ngSubmit)="onSubmit()" class="p-grid">
        <!-- Inicio Primera Fila  -->
        <div class="p-md-4 p-col-12">
          <div class="p-fluid">
            <span class="p-float-label">
              <p-autoComplete
                [(ngModel)]="nameCustomer"
                formControlName="nameCustomer"
                (onSelect)="selectedAutocompleteUser()"
                [suggestions]="filteredUsers"
                (completeMethod)="filterUser($event)"
                field="first_name"
                [minLength]="1"
                inputId="autoCompleteUsers"
              ></p-autoComplete>
              <label for="dropdown" class="form-control-label"
                >Nombre del Cliente</label
              >
            </span>
          </div>
        </div>
        <div class="p-md-2 p-col-12">
          <div class="p-fluid">
            <span class="p-float-label">
              <input
                id="float-input"
                class="form-control-input"
                type="text"
                formControlName="codeCustomer"
                [(ngModel)]="codeCustomer"
                pInputText
              />
              <label for="float-input" class="form-control-label"
                >Código cliente</label
              >
            </span>
          </div>
        </div>
        <div class="p-md-2 p-col-12">
          <div class="p-fluid">
            <div class="p-field">
              <span class="p-float-label">
                <p-dropdown
                  inputId="dropdown"
                  [autoDisplayFirst]="false"
                  [options]="destinys"
                  class="form-control-ckb"
                  formControlName="Destino"
                  optionLabel="name"
                ></p-dropdown>
                <label for="dropdown" class="form-control-label"
                  >Seleccionar</label
                >
              </span>
            </div>
          </div>
        </div>
        <div class="p-md-4 p-col-12"></div>
        <!-- Fin Primera Fila  -->

        <!-- Inicio Segunda Fila  -->
        <div class="p-md-2 p-col-12">
          <div class="p-fluid">
            <span class="p-float-label">
              <input
                id="float-input"
                class="form-control-input"
                type="text"
                formControlName="guiaReferencia"
                pInputText
              />
              <label for="float-input" class="form-control-label"
                >Codigo de Paquete</label
              >
            </span>
          </div>
        </div>
        <div class="p-md-2 p-col-12">
          <div class="p-fluid">
            <span class="p-float-label">
              <input
                id="float-input"
                class="form-control-input"
                type="text"
                formControlName="proveedor"
                pInputText
              />
              <label for="float-input" class="form-control-label"
                >Proveedor</label
              >
            </span>
          </div>
        </div>
        <div class="p-md-2 p-col-12">
          <div class="p-fluid">
            <div class="p-field">
              <span class="p-float-label">
                <p-dropdown
                  inputId="dropdown"
                  [autoDisplayFirst]="false"
                  [options]="valijas"
                  class="form-control-ckb"
                  formControlName="tipoValija"
                  optionLabel="name"
                ></p-dropdown>
                <label for="dropdown" class="form-control-label"
                  >Tipo de Valija</label
                >
              </span>
            </div>
          </div>
        </div>
        <div class="p-md-6 p-col-12"></div>
        <!-- Fin Segunda Fila  -->

        <!-- Inicio Tercera Fila  -->
        <div class="p-md-1 p-col-12">
          <div class="p-fluid">
            <span class="p-float-label">
              <input
                id="float-input"
                pKeyFilter="num"
                class="form-control-input"
                type="number"
                min="1"
                formControlName="amount"
                pInputText
              />
              <label for="float-input" class="form-control-label"
                >Cantidad</label
              >
            </span>
          </div>
        </div>
        <div class="p-md-2 p-col-12">
          <div class="p-fluid">
            <span class="p-float-label">
              <input
                id="float-input"
                class="form-control-input"
                type="text"
                formControlName="description"
                pInputText
              />
              <label for="float-input" class="form-control-label"
                >Descripción</label
              >
            </span>
          </div>
        </div>
        <div class="p-md-4 p-col-12">
          <div class="p-fluid">
            <div class="p-field">
              <span class="p-float-label">
                <p-dropdown
                  inputId="dropdown"
                  [autoDisplayFirst]="false"
                  [options]="contenido"
                  class="form-control-ckb"
                  formControlName="tipoContenido"
                  optionLabel="name"
                ></p-dropdown>
                <label for="dropdown" class="form-control-label"
                  >Tipo de Contenido</label
                >
              </span>
            </div>
          </div>
        </div>
        <div class="p-md-2 p-col-12">
          <div class="p-fluid">
            <div class="p-field">
              <span class="p-float-label">
                <p-dropdown
                  inputId="dropdown"
                  [autoDisplayFirst]="false"
                  [options]="pais"
                  class="form-control-ckb"
                  formControlName="countryOrigen"
                  optionLabel="name"
                ></p-dropdown>
                <label for="dropdown" class="form-control-label"
                  >País de Origen</label
                >
              </span>
            </div>
          </div>
        </div>
        <div class="p-md-1 p-col-12">
          <div class="p-fluid">
            <span class="p-float-label">
              <input
                id="float-input"
                class="form-control-input"
                type="text"
                formControlName="marca"
                pInputText
              />
              <label for="float-input" class="form-control-label">Marca</label>
            </span>
          </div>
        </div>
        <div class="p-md-1 p-col-12">
          <div class="p-fluid">
            <span class="p-float-label">
              <input
                id="float-input"
                class="form-control-input"
                type="text"
                formControlName="model"
                pInputText
              />
              <label for="float-input" class="form-control-label">Modelo</label>
            </span>
          </div>
        </div>
        <div class="p-md-1 p-col-12">
          <div class="p-fluid">
            <span class="p-float-label">
              <input
                id="float-input"
                class="form-control-input"
                type="text"
                formControlName="valor"
                pInputText
              />
              <label for="float-input" class="form-control-label">Valor</label>
            </span>
          </div>
        </div>
        <!-- Fin Tercera Fila  -->

        <!-- Inicio Cuarta Fila  -->
        <div class="p-md-1 p-col-12">
          <div class="p-fluid">
            <span class="p-float-label">
              <input
                id="float-input"
                class="form-control-input"
                pKeyFilter="num"
                type="text"
                formControlName="weight"
                pInputText
              />
              <label for="float-input" class="form-control-label">Peso</label>
            </span>
          </div>
        </div>
        <div class="p-md-1 p-col-12">
          <div class="p-fluid">
            <span class="p-float-label">
              <input
                id="float-input"
                class="form-control-input"
                pKeyFilter="num"
                type="text"
                formControlName="currentWeight"
                pInputText
              />
              <label for="float-input" class="form-control-label"
                >Peso Real</label
              >
            </span>
          </div>
        </div>
        <div class="p-md-1 p-col-12">
          <div class="p-fluid">
            <span class="p-float-label">
              <input
                id="float-input"
                class="form-control-input"
                pKeyFilter="num"
                type="text"
                formControlName="length"
                pInputText
              />
              <label for="float-input" class="form-control-label">Largo</label>
            </span>
          </div>
        </div>
        <div class="p-md-9 p-col-12"></div>
        <!-- Fin Cuarta Fila  -->

        <!-- Inicio Quinto Fila  -->
        <div class="p-md-1 p-col-12">
          <div class="p-fluid">
            <span class="p-float-label">
              <input
                id="float-input"
                pKeyFilter="num"
                class="form-control-input"
                type="text"
                formControlName="height"
                pInputText
              />
              <label for="float-input" class="form-control-label">Alto</label>
            </span>
          </div>
        </div>
        <div class="p-md-1 p-col-12">
          <div class="p-fluid">
            <span class="p-float-label">
              <input
                id="float-input"
                pKeyFilter="num"
                class="form-control-input"
                type="text"
                formControlName="width"
                pInputText
              />
              <label for="float-input" class="form-control-label">Ancho</label>
            </span>
          </div>
        </div>
        <div class="p-md-1 p-col-12">
          <div class="p-fluid">
            <span class="p-float-label">
              <input
                id="float-input"
                pKeyFilter="num"
                class="form-control-input"
                type="text"
                formControlName="totalWeight"
                pInputText
              />
              <label for="float-input" class="form-control-label"
                >Peso total</label
              >
            </span>
          </div>
        </div>
        <div class="p-md-9 p-col-12"></div>
        <!-- Fin Quinto Fila  -->

        <div class="p-md-2 p-col-12">
          <button
            pButton
            pRipple
            style="
              background: #5e72e4;
              color: #ffffff;
              font-weight: 700;
              font-size: 14px;
              padding: 15px 24px 15px 24px;
            "
            type="submit"
            label="Agregar"
          ></button>
        </div>
        <div class="p-md-10 p-col-12"></div>
      </form>
      <div class="p-col-12"></div>
      <div class="p-col-12"></div>
      <!-- Inicio Tabla Paquetes -->

      <div class="p-md-9 p-col-12">
        <p class="labelTable">Lista de Paquetes</p>
        <span>Seleccione al menos un paquete para crear una valija</span>
      </div>
      <div class="p-md-3 p-col-12">
        <button
        pButton
        pRipple
        *ngIf="selectedProducts3.length > 0"
        type="button"
        (click)="handleValor()"
        label="CREAR VALIJA"
      ></button>
      </div>
      <div class="p-col-12"></div>
      <div class="p-col-12"></div>
      <div class="p-col-12">
        <p-table
          responsiveLayout="scroll"
          [value]="packages!"
          [autoLayout]="true"
          [rowsPerPageOptions]="[10, 25, 50]"
          currentPageReportTemplate="Mostrando {first} hasta {last} de {totalRecords} registros"
          [paginator]="true"
          [rows]="rows"
          [(first)]="first"
          [showCurrentPageReport]="true"
          [(selection)]="selectedProducts3"
        >
          <ng-template pTemplate="header" styleClass="p-datatable-striped">
            <tr>
              <th style="width: 3rem">
                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
              </th>
              <th>Paquete</th>
              <th>Impuesto / Arancel</th>
              <th>Tramite Aduanal</th>
              <th>Manejo y Envió</th>
              <th>Seguro</th>
              <th>Total</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-package>
            <tr>
              <td>
                <p-tableCheckbox [value]="package"></p-tableCheckbox>
              </td>
              <td>{{ package.country_dest }}</td>
              <td>{{ package.country_org }}</td>
              <td>{{ package.tramiteAduanal }}</td>
              <td>{{ package.manejoEnvio }}</td>
              <td>{{ package.seguro }}</td>
              <td>{{ package.total }}</td>
            </tr>
          </ng-template>
        </p-table>
      </div>

      <!-- Fin Tabla Paquetes -->
      <div class="p-col-12"></div>
      <div class="p-col-12"></div>
      <div class="p-md-9 p-col-12">

      </div>
      <div class="p-md-3 p-col-12">

      </div>
      <div class="p-col-12"></div>
      <div class="p-col-12"></div>

      <div class="p-col-12"></div>
    </div>
  </nb-layout-column>
</nb-layout>
