<nb-layout>
  <nb-layout-column>
    <div class="p-grid proccess-container vertical-container">
      <div class="p-col-12"></div>

      <div class="p-col-12"></div>
      <div class="p-col">
        <app-stepper-detail></app-stepper-detail>
      </div>

      <div class="p-col-12">
        <div class="p-text-center p-text-bold" style="font-size: 36px">
          Elige metodo de pago y confirma
        </div>
      </div>
      <div class="p-col-12"></div>
      <div class="p-col-12"></div>
      <div class="p-col-5"></div>
      <div class="p-d-flex">
        <button
          pButton
          pRipple
          type="button"
          style="background: #eb5757; color: #ffffff"
          label="Cancel"
          [routerLink]="['../../dash', id]"
          class="p-button-danger"
        ></button>

        <button
          pButton
          pRipple
          type="button"
          style="background: #ffffff; border: 1px solid #c1c9d2"
          label="Anterior"
          [routerLink]="['../../customer', id]"
          class="p-mx-2"
        ></button>
      </div>
      <div class="p-col-5"></div>
      <div class="p-col-12"></div>
      <div class="p-col-12"></div>
      <div class="p-col-12"></div>
      <div class="p-col-3">
        <div class="p-d-flex p-flex-column p-ai-end">
          <div>
            <p class="label-process">Servicio:</p>
          </div>
          <div>
            <p class="label-process">Destino:</p>
          </div>
          <div>
            <p class="label-process">Tracking Number:</p>
          </div>
          <div>
            <p class="label-process">ID:</p>
          </div>
          <div>
            <p class="label-process">Código de cliente:</p>
          </div>
          <div>
            <p class="label-process">Nombre:</p>
          </div>
        </div>
      </div>
      <div class="p-col-3">
        <div class="p-d-flex p-flex-column p-ai-start">
          <div *ngFor="let cliente of customer">
            <p class="text-process">{{ cliente.servicio }}</p>
          </div>
          <div *ngFor="let cliente of customer">
            <p class="text-process">{{ cliente.destino }}</p>
          </div>
          <div *ngFor="let cliente of customer">
            <p class="text-process">{{ cliente.trakingNumber }}</p>
          </div>
          <div *ngFor="let cliente of customer">
            <p class="text-process">{{ cliente.id }}</p>
          </div>
          <div *ngFor="let cliente of customer">
            <p class="text-process">{{ cliente.codigoCliente }}</p>
          </div>
          <div *ngFor="let cliente of customer">
            <p class="text-process">{{ cliente.nombre }}</p>
          </div>
        </div>
      </div>
      <div class="p-col-3">
        <div class="p-d-flex p-flex-column p-ai-end">
          <div>
            <p class="label-process">Subtotal:</p>
          </div>
          <div>
            <p class="label-process">IVA 16%:</p>
          </div>
          <div>
            <p class="label-process">Total a pagar:</p>
          </div>
        </div>
      </div>
      <div class="p-col-3">
        <div class="p-d-flex p-flex-column p-ai-start">
          <div *ngFor="let cliente of customer">
            <p class="text-process">{{ cliente.subtotal }}</p>
          </div>
          <div *ngFor="let cliente of customer">
            <p class="text-process">{{ cliente.iva }}</p>
          </div>
          <div *ngFor="let cliente of customer">
            <p class="text-process">{{ cliente.totalPagar }}</p>
          </div>
        </div>
      </div>
      <div class="p-col-12"></div>
      <div class="p-col-12"></div>
      <div class="p-col-3"></div>
      <div class="p-d-flex">
        <a href="" class="p-d-flex img-card-credit">
          <img
            src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Visa_2014_logo_detail.svg/320px-Visa_2014_logo_detail.svg.png"
            alt=""
          />
          <img
            src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2a/Mastercard-logo.svg/309px-Mastercard-logo.svg.png"
            alt=""
          />
        </a>
        <a
          href=""
          class="img-card-paypal p-d-flex p-ai-center p-jc-center p-mx-5"
        >
          <img
            src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b5/PayPal.svg/320px-PayPal.svg.png"
            alt=""
          />
        </a>
        <a href="" class="img-card-efectivo p-d-flex p-jc-center">
          <h3>EFECTIVO</h3>
        </a>
      </div>
      <div class="p-col-3"></div>
    </div>
  </nb-layout-column>
</nb-layout>
