<nb-layout>
  <nb-layout-column>
    <div class="p-grid proccess-container vertical-container">
      <div class="p-col-12"></div>

      <div class="p-col-12"></div>

      <div class="p-col-12">
        <div class="p-text-center p-text-bold" style="font-size: 36px">
          Elige metodo de pago y confirma
        </div>
      </div>
      <div class="p-col-12"></div>
      <div class="p-col-12"></div>
      <div class="p-col-12" *ngIf="data">
        <div class="p-text-center p-text-bold" style="font-size: 36px">
          {{ accion }} - {{ data.noIbox }}
        </div>
      </div>
      <div class="p-col-12" *ngIf="data">
        <div class="p-text-center" style="font-size: 18px">

            <br /><br />
            <strong>Nombre:</strong>{{ data.users.first_name }} {{ data.users.last_name
            }}<br /><br />
            <strong>Codigo:</strong> {{ data.users.id }} <br /><br />
            <strong>Direccion:</strong> {{ data.users.address }}<br /><br />
            <strong>Telefono:</strong> {{ data.users.phone }} <br /><br />

            <br />

          <strong *ngIf="data.status === 'renovación'"
            >Fecha de renovación:</strong
          >
          <span *ngIf="data.status === 'renovación'">{{
            hoy.getMonth() + 1 / hoy.getDate() / hoy.getFullYear()
          }}</span>
          <br /><br />
          <strong>Fecha de inicio:</strong>
          {{ hoy.getMonth() + 1 + "/" + hoy.getDate() + "/" + hoy.getFullYear()
          }}<br /><br />
          <strong>Fecha de vencimiento:</strong>
          {{
            data.vencimento.getMonth() +
              1 +
              "/" +
              data.vencimento.getDate() +
              "/" +
              data.vencimento.getFullYear()
          }}
          <br /><br />
          <strong>Meses contratados:</strong> {{ data.meses }}<br /><br />
          <strong>Plan:</strong> {{ data.plan }} <br /><br />
          <strong>Costo:</strong> {{ data.precio }} <br /><br />
        </div>
      </div>

      <div class="p-col-12"></div>
      <div class="p-col-12"></div>
      <div class="p-md-1 p-col-12"></div>
      <div class="p-md-3 p-col-12">
        <a
          [routerLink]="['../pay']"
          [queryParams]="{ tipo: tipo, service: 'tc' }"
          class="p-d-flex img-card-credit"
          *ngIf="data"
        >
          <img
            src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Visa_2014_logo_detail.svg/320px-Visa_2014_logo_detail.svg.png"
            alt=""
          />
          <img
            src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2a/Mastercard-logo.svg/309px-Mastercard-logo.svg.png"
            alt=""
          />
        </a>
      </div>
      <div class="p-md-3 p-col-12">
        <button
          pButton
          *ngIf="!data"
          pRipple
          type="button"
          class="p-button-danger"
          [routerLink]="['../ebox/new']"
          label="Regresar"
        ></button>
      </div>
      <div class="p-md-3 p-col-12">
        <a
          *ngIf="data"
          [routerLink]="['../pay']"
          [queryParams]="{ tipo: tipo, service: 'ef' }"
          class="img-card-efectivo p-d-flex p-jc-center"
        >
          <h3>EFECTIVO</h3>
        </a>
      </div>
      <div class="p-md-1 p-col-12"></div>
    </div>
  </nb-layout-column>
</nb-layout>
