<nb-layout>
  <nb-layout-column>
    <div class="p-grid package-container vertical-container">
      <div class="p-col-12"></div>
      <div class="p-col-12"></div>

      <div class="p-col-12"></div>
      <div class="p-col-12"></div>
      <div class="p-col-12">
        <div
          class="p-text-center p-text-bold"
          *ngIf="!editing"
          style="font-size: 36px"
        >
          Asignación Valija
        </div>
        <div
          class="p-text-center p-text-bold"
          *ngIf="editing"
          style="font-size: 36px"
        >
          Editar Valija
        </div>
      </div>
      <div class="p-col-12"></div>
      <div class="p-col-12"></div>
      <div class="p-col-5"></div>
      <div class="p-d-flex">
        <button
          pButton
          pRipple
          type="button"
          style="background: #eb5757; color: #ffffff"
          label="Cancel"
          [routerLink]="['../dash']"
          class="p-button-danger"
        ></button>


      </div>
      <div class="p-col-5"></div>
      <div class="p-col-12"></div>
      <div class="p-col-12"></div>
      <div class="p-md-1 p-col-12"></div>
      <div class="p-md-10 p-col-12">
        <div class="p-grid">
          <div class="p-md-2 p-col-12">
            <div class="p-fluid">
              <div class="p-field">
                <span class="p-float-label">
                  <p-dropdown
                    inputId="dropdown"
                    [autoDisplayFirst]="false"
                    [options]="destinys"
                    class="form-control-ckb"
                    [(ngModel)]="Destino"
                    optionLabel="name"
                  ></p-dropdown>
                  <label for="dropdown" class="form-control-label"
                    >Seleccionar</label
                  >
                </span>
              </div>
            </div>
          </div>
          <div class="p-md-10 p-col-12"></div>
        </div>
        <div class="p-fluid">
          <!-- Inicio Tabla Paquetes -->
          <p-table [value]="packages" [autoLayout]="true">
            <ng-template pTemplate="header" styleClass="p-datatable-striped">
              <tr>
                <th>Paquete</th>
                <th>CODE</th>
                <th>Tienda Destino</th>

                <th>Descripción</th>
                <th>Peso</th>
                <th>Tipo de Valija</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-package>
              <tr>
                <td>{{ package.Amount }}</td>
                <td>{{ package.tracking }}</td>
                <td>{{ package.country_dest }}</td>

                <td>
                  {{ package.desc }}
                </td>
                <td>{{ package.wt }}</td>
                <td>{{ package.type }}</td>
              </tr>
            </ng-template>
          </p-table>
          <!-- Fin Tabla Paquetes -->
        </div>
      </div>
      <div class="p-md-1 p-col-12"></div>
      <div class="p-col-12"></div>
      <div class="p-col-12"></div>
      <div class="p-md-8 p-col-12"></div>
      <div class="p-md-2 p-col-12">
        <div class="p-fluid">
          <span class="p-float-label">
            <input
              type="text"
              id="inputtext"
              [(ngModel)]="guiaReferencia"
              class="form-control-input-feature"
              pInputText
            />
            <label for="inputtext" class="form-control-label"
              >Guia de Referencia</label
            >
          </span>
        </div>
      </div>
      <div class="p-md-2 p-col-12">
        <div *ngIf="!editing" class="p-fluid">
          <button
            pButton
            pRipple
            style="
              background: #5e72e4;
              color: #ffffff;
              font-weight: 700;
              font-size: 14px;
              padding: 10px 24px 10px 24px;
              margin-top: 10px;
            "
            type="button"
            *ngIf="guiaReferencia && Destino"
            (click)="onSubmit()"
            label="CREAR VALIJA"
          ></button>
        </div>
        <div *ngIf="editing" class="p-fluid">
          <button
            pButton
            pRipple
            style="
              background: #5e72e4;
              color: #ffffff;
              font-weight: 700;
              font-size: 14px;
              padding: 10px 24px 10px 24px;
              margin-top: 10px;
            "
            type="button"
            *ngIf="guiaReferencia && Destino"
            (click)="onSubmit()"
            label="EDITAR VALIJA"
          ></button>
        </div>
      </div>
    </div>
  </nb-layout-column>
</nb-layout>
