<nb-layout>
  <nb-layout-column>
    <div class="p-grid package-container vertical-container">
      <div class="p-col-12"></div>
      <div class="p-col-12"></div>
      <div class="p-col">
        <app-stepper-detail></app-stepper-detail>
      </div>
      <div class="p-col-12"></div>
      <div class="p-col-12"></div>
      <div class="p-col-12">
        <div class="p-text-center p-text-bold" style="font-size: 36px">
          Asignar Valija
        </div>
      </div>
      <div class="p-col-12"></div>
      <div class="p-col-12"></div>
      <div class="p-col-5"></div>
      <div class="p-d-flex">
        <button
          pButton
          pRipple
          type="button"
          style="background: #eb5757; color: #ffffff"
          label="Cancel"
          [routerLink]="['../dash']"
          class="p-button-danger"
        ></button>

        <button
          pButton
          pRipple
          type="button"
          style="background: #ffffff; border: 1px solid #c1c9d2"
          label="Previous"
          [routerLink]="['../package']"
          class="p-mx-2"
        ></button>
        <button
          pButton
          pRipple
          type="button"
          style="background: #27ae60; color: #ffffff"
          label="Next"
          [routerLink]="['../exitovalija']"
          class="p-button-success"
        ></button>
      </div>
      <div class="p-col-5"></div>
      <div class="p-col-12"></div>
      <div class="p-col-12"></div>
      <div class="p-md-1 p-col-12"></div>
      <div class="p-md-10 p-col-12">
        <div class="p-grid">
          <div class="p-md-2 p-col-12">
            <div class="p-fluid">
              <div class="p-field">
                <span class="p-float-label">
                  <p-dropdown
                    inputId="dropdown"
                    [autoDisplayFirst]="false"
                    [options]="destinys"
                    class="form-control-ckb"
                    [(ngModel)]="Destino"
                    optionLabel="name"
                  ></p-dropdown>
                  <label for="dropdown" class="form-control-label"
                    >Seleccionar</label
                  >
                </span>
              </div>
            </div>
          </div>
          <div class="p-md-10 p-col-12"></div>
        </div>
        <div class="p-fluid">
          <!-- Inicio Tabla Paquetes -->
          <p-table [value]="packages" [autoLayout]="true">
            <ng-template pTemplate="header" styleClass="p-datatable-striped">
              <tr>
                <th>Paquete</th>
                <th>CODE</th>
                <th>Tienda Destino</th>
                <th colspan="2">Contenido</th>
                <th>Descripción</th>
                <th>Peso</th>
                <th>Tipo de Valija</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-package>
              <tr>
                <td><p-checkbox name="groupname" value="val1"></p-checkbox></td>
                <td>{{ package.Amount }}</td>
                <td>502</td>
                <td colspan="2">{{ package.TipoContenido }}</td>
                <td colspan="1">
                  {{ package.Description }}
                </td>
                <td>{{ package.Weight }}</td>
                <td>{{ package.TipoValija }}</td>
              </tr>
            </ng-template>
          </p-table>
          <!-- Fin Tabla Paquetes -->
        </div>
      </div>
      <div class="p-md-1 p-col-12"></div>
      <div class="p-col-12"></div>
      <div class="p-col-12"></div>
      <div class="p-md-8 p-col-12"></div>
      <div class="p-md-2 p-col-12">
        <div class="p-fluid">
          <span class="p-float-label">
            <input
              type="text"
              id="inputtext"
              class="form-control-input-feature"
              pInputText
            />
            <label for="inputtext" class="form-control-label"
              >Guia de Referencia</label
            >
          </span>
        </div>
      </div>
      <div class="p-md-2 p-col-12">
        <div class="p-fluid">
          <button
            pButton
            pRipple
            style="
              background: #5e72e4;
              color: #ffffff;
              font-weight: 700;
              font-size: 14px;
              padding: 10px 24px 10px 24px;
              margin-top: 10px;
            "
            type="button"
            [routerLink]="['../../exitovalija', id]"
            label="CREAR VALIJA"
          ></button>
        </div>
      </div>
    </div>
  </nb-layout-column>
</nb-layout>
