<nb-layout>
  <nb-layout-column>
    <div class="p-grid confirmation-container vertical-container">
      <div class="p-col-12"></div>

      <div class="p-col-12"></div>
      <div class="p-col">
        <app-stepper-detail></app-stepper-detail>
      </div>
      <div class="p-col-12"></div>
      <div class="p-col-12"></div>
      <div class="p-col-12">
        <div class="p-text-center p-text-bold" style="font-size: 36px">
          Pago en proceso
        </div>
      </div>
      <div class="p-col-12"></div>
      <div class="p-col-12"></div>
      <div class="p-col-5"></div>
      <div class="p-d-flex">
        <button
          pButton
          pRipple
          type="button"
          style="background: #eb5757; color: #ffffff"
          label="Cancel"
          class="p-button-danger"
        ></button>

        <button
          pButton
          pRipple
          type="button"
          style="background: #ffffff; border: 1px solid #c1c9d2"
          label="Anterior"
          class="p-mx-2"
        ></button>
      </div>
      <div class="p-col-5"></div>
      <div class="p-col-12"></div>
      <div class="p-col-12"></div>
      <div class="p-col-12"></div>
      <div class="p-col-4"></div>
      <div class="p-col-4">
        <img src="assets/img/Fast Transfers.png" alt="">
      </div>
      <div class="p-col-4"></div>
    </div>
  </nb-layout-column>
</nb-layout>
