<nb-layout>
  <nb-layout-column>
    <div class="p-grid package-container vertical-container">
      <div class="p-col-12"></div>
      <div class="p-col-12"></div>
      <div class="p-col">
        <app-stepper-detail></app-stepper-detail>
      </div>
      <div class="p-col-12"></div>
      <div class="p-col-12"></div>
      <div class="p-col-12">
        <div class="p-text-center p-text-bold title-dash">
          Registra el correo saliente
        </div>
      </div>
      <div class="p-col-12"></div>
      <div class="p-col-12"></div>
      <div class="p-col-5"></div>
      <div class="p-d-flex">
        <button
          pButton
          pRipple
          type="button"
          style="background: #eb5757; color: #ffffff"
          label="Cancel"
          [routerLink]="['../dash']"
          class="p-button-danger"
        ></button>

        <button
          pButton
          pRipple
          type="button"
          style="background: #ffffff; border: 1px solid #c1c9d2"
          label="Previous"
          [routerLink]="['../dash']"
          class="p-mx-2"
        ></button>
      </div>
      <div class="p-col-5"></div>
      <div class="p-col-12"></div>
      <div class="p-col-12"></div>

      <!--    Inicio Primera Fila  -->
      <form [formGroup]="LoginForm!" (ngSubmit)="onSubmit()" class="p-grid">
        <div class="p-md-1 p-col-12"></div>
        <div class="p-md-2 p-col-12">
          <div class="p-fluid">
            <span class="p-float-label">
              <p-dropdown
                inputId="dropdown"
                [autoDisplayFirst]="false"
                [options]="shops"
                class="form-control-ckb"
                formControlName="tiendaOrigen"
                optionLabel="name"
              ></p-dropdown>
              <label for="dropdown" class="form-control-label"
                >Tienda Origen</label
              >
            </span>
          </div>
        </div>
        <div class="p-md-4 p-col-12">
          <div class="p-field-checkbox">
            <p-checkbox
              name="city1"
              value="esPostal"
              formControlName="tipodeEnvio"
              inputId="city1"
            ></p-checkbox>
            <label for="city1">Seleccionar si es una postal</label>
          </div>
          <div class="p-field-checkbox">
            <p-checkbox
              name="city2"
              value="esPaquete"
              formControlName="tipodeEnvio"
              inputId="city2"
            ></p-checkbox>
            <label for="city2">Seleccionar si es un envio de un paquete</label>
          </div>
        </div>
        <div class="p-md-1 p-col-12">
          <div class="p-fluid">
            <span class="p-float-label">
              <input
                id="float-input"
                class="form-control-input"
                type="text"
                formControlName="peso"
                pKeyFilter="num"
                pInputText
              />
              <label for="float-input" class="form-control-label">Peso</label>
            </span>
          </div>
        </div>
        <div class="p-md-2 p-col-12">
          <div class="p-fluid">
            <span class="p-float-label">
              <p-dropdown
                inputId="dropdown"
                [autoDisplayFirst]="false"
                [options]="countrys"
                class="form-control-ckb"
                formControlName="paisDestino"
                optionLabel="name"
              ></p-dropdown>
              <label for="dropdown" class="form-control-label"
                >Pais destino</label
              >
            </span>
          </div>
        </div>
        <div class="p-md-2 p-col-12">
          <div class="p-fluid">
            <span class="p-float-label">
              <p-dropdown
                inputId="dropdown"
                [autoDisplayFirst]="false"
                [options]="destiny"
                class="form-control-ckb"
                formControlName="zonaDestino"
                optionLabel="name"
              ></p-dropdown>
              <label for="dropdown" class="form-control-label"
                >Zona de destino</label
              >
            </span>
          </div>
        </div>
        <div class="p-col-12"></div>

        <!--    Fin Primera Fila  -->
        <!--    Inicio Segunda Fila  -->

        <div class="p-md-1 p-col-12"></div>
        <div class="p-md-2 p-col-12">
          <p class="p-text-bold" style="font-size: 14px; font-weight: 600">
            Tipo de servicio
          </p>
          <div class="p-field-radiobutton">
            <p-radioButton
              name="tipoServicio"
              value="Fist Class"
              formControlName="tipoServicio"
              inputId="Fist Class"
            ></p-radioButton>
            <label for="Fist Class">Fist Class</label>
          </div>
          <div class="p-field-radiobutton">
            <p-radioButton
              name="tipoServicio"
              value="Priority mail"
              formControlName="tipoServicio"
              inputId="Priority mail"
            ></p-radioButton>
            <label for="Priority mail">Priority mail</label>
          </div>
          <div class="p-field-radiobutton">
            <p-radioButton
              name="tipoServicio"
              value="Express mail"
              formControlName="tipoServicio"
              inputId="Express mail"
            ></p-radioButton>
            <label for="Express mail">Express mail</label>
          </div>
        </div>
        <div class="p-md-2 p-col-12">
          <p class="p-text-bold" style="font-size: 14px; font-weight: 600">
            Servicios adicionales
          </p>
          <div class="p-field-checkbox">
            <p-checkbox
              name="Certified mail"
              value="Chicago"
              formControlName="extraServices"
              inputId="Certified mail"
            ></p-checkbox>
            <label for="Certified mail">Certified mail</label>
          </div>
          <div class="p-field-checkbox">
            <p-checkbox
              name="Delivery confirmation"
              value="Delivery confirmation"
              formControlName="extraServices"
              inputId="Delivery confirmation"
            ></p-checkbox>
            <label for="Delivery confirmation">Delivery confirmation</label>
          </div>
          <div class="p-field-checkbox">
            <p-checkbox
              name="city2"
              value="Return receipt"
              formControlName="extraServices"
              inputId="Return receipt"
            ></p-checkbox>
            <label for="Return receipt">Return receipt</label>
          </div>
          <div class="p-field-checkbox">
            <p-checkbox
              name="Signatureconfirmation"
              value="Signatureconfirmation"
              formControlName="extraServices"
              inputId="Signatureconfirmation"
            ></p-checkbox>
            <label for="Signatureconfirmation">Signature confirmation</label>
          </div>
        </div>
        <div class="p-md-2 p-col-12">
          <p class="p-text-bold" style="font-size: 14px; font-weight: 600">
            Tipo de servicio
          </p>
          <div class="p-field-radiobutton">
            <p-radioButton
            name="tipoServicioSize"
              value="Small"
              formControlName="tipoServicioSize"
              inputId="Small"
            ></p-radioButton>
            <label for="Small">Small</label>
          </div>
          <div class="p-field-radiobutton">
            <p-radioButton
              name="tipoServicioSize"
              value="Large"
              formControlName="tipoServicioSize"
              inputId="Large"
            ></p-radioButton>
            <label for="Largel">Large</label>
          </div>
          <div class="p-field-radiobutton">
            <p-radioButton
              name="tipoServicioSize"
              value="Parce"
              formControlName="tipoServicioSize"
              inputId="parce"
            ></p-radioButton>
            <label for="parce">Parce</label>
          </div>
        </div>
        <div class="p-md-2 p-col-12">
          <div class="p-fluid">
            <span class="p-float-label">
              <input
                id="float-input"
                class="form-control-input"
                type="text"
                pKeyFilter="num"
                formControlName="estampilla"
                pInputText
              />
              <label for="float-input" class="form-control-label"
                >Parte o Estampilla</label
              >
            </span>
          </div>
        </div>
        <div class="p-md-2 p-col-12">
          <div class="p-fluid">
            <span class="p-float-label">
              <input
                id="float-input"
                class="form-control-input"
                type="text"
                formControlName="manejo"
                pInputText
              />
              <label for="float-input" class="form-control-label"
                >Manejo/Envió</label
              >
            </span>
          </div>
        </div>
        <div class="p-md-1 p-col-12">
          <div class="p-fluid">
            <span class="p-float-label">
              <input
                id="float-input"
                class="form-control-input"
                type="text"
                formControlName="total"
                pKeyFilter="num"
                pInputText
              />
              <label for="float-input" class="form-control-label">Total</label>
            </span>
          </div>
        </div>
        <!--    Fin Segunda Fila  -->

        <!--    Inicio Tercera Fila  -->
        <div class="p-md-1 p-col-12"></div>
        <div class="p-md-4 p-col-12">
          <div class="p-fluid">
            <span class="p-float-label">
              <input
                id="float-input"
                class="form-control-input"
                type="text"
                formControlName="guiaReferencia"
                pKeyFilter="num"
                pInputText
              />
              <label for="float-input" class="form-control-label"
                >Guia de Referencia</label
              >
            </span>
          </div>
        </div>
        <div class="p-md-7 p-col-12"></div>
        <!--    Fin Tercera Fila  -->
        <!--    Inicio Cuarta Fila  -->
        <div class="p-md-1 p-col-12"></div>
        <div class="p-md-6 p-col-12">
          <div class="p-fluid">
            <span class="p-float-label">
              <input
                id="float-input"
                class="form-control-input"
                type="text"
                formControlName="descripcion"
                pKeyFilter="num"
                pInputText
              />
              <label for="float-input" class="form-control-label"
                >Descripción</label
              >
            </span>
          </div>
        </div>
        <div class="p-md-5 p-col-12"></div>
        <!--    Fin Cuarta Fila  -->
        <!--    Inicio Quinta Fila  -->
        <div class="p-md-1 p-col-12"></div>
        <div class="p-md-6 p-col-12">
          <div class="p-fluid">
            <span class="p-float-label">
              <input
                id="float-input"
                class="form-control-input"
                type="text"
                formControlName="nombreCustomer"
                pKeyFilter="num"
                pInputText
              />
              <label for="float-input" class="form-control-label"
                >Nombre del cliente</label
              >
            </span>
          </div>
        </div>
        <div class="p-md-2 p-col-12">
          <div class="p-fluid">
            <span class="p-float-label">
              <input
                id="float-input"
                class="form-control-input"
                type="text"
                formControlName="codeCustomer"
                pInputText
              />
              <label for="float-input" class="form-control-label"
                >Código de cliente</label
              >
            </span>
          </div>
        </div>
        <div class="p-md-3 p-col-12"></div>
        <!--    Fin Quinta Fila  -->
        <!--    Inicio Quinta Fila  -->
        <div class="p-md-1 p-col-12"></div>
        <div class="p-md-8 p-col-12">
          <div class="p-fluid">
            <span class="p-float-label">
              <input
                id="float-input"
                class="form-control-input"
                type="text"
                pKeyFilter="num"
                formControlName="anddressDestiny"
                pInputText
              />
              <label for="float-input" class="form-control-label"
                >Dirección de destino</label
              >
            </span>
          </div>
        </div>

        <div class="p-md-3 p-col-12"></div>
        <!--    Fin Quinta Fila  -->

        <!--  Butones -->
        <div class="p-md-9 p-col-12"></div>

        <div class="p-md-3 p-col-12">
          <div class="p-fluid">
            <button
              pButton
              pRipple
              style="
                background: #13b497;
                border: 1px solid #13b497;
                color: #ffffff;
                font-weight: 700;
                font-size: 14px;
                padding: 16px 5px 16px 5px;
              "
              type="submit"
              label="Registrar Correo"
            ></button>
          </div>
        </div>
      </form>
      <div class="p-col-12"></div>
    </div>
  </nb-layout-column>
</nb-layout>
