<nb-layout>
  <nb-layout-header subheader>
    <div class="p-grid p-ai-center p-nogutter" style="width: 100%">
      <div class="p-col-8"></div>
      <div class="p-col-1 p-jc-between">
        <div class="p-inputgroup">
          <span class="p-inputgroup-addon topnotifaction"
            ><i class="pi pi-bell"></i
          ></span>
          <span class="p-inputgroup-addon topnotifaction"
            ><i class="pi pi-comments"></i
          ></span>
        </div>
      </div>

      <div class="p-col-2">
        <div class="p-grid p-fluid p-jc-between p-ai-end">
          <span class=""><i class="pi pi-calendar"></i></span>
          $ 0.00

          <span class=""><i class="pi pi-calendar"></i></span>
          Empresa #12053
        </div>
      </div>
    </div>
  </nb-layout-header>
  <nb-sidebar
    responsive
  >
    <div class="p-grid p-ai-center sidebarCustomer"   style="background-color: #4f4f4f">
      <div class="p-col-12"></div>

      <div class="p-col-12">
        <h3 style="color: #ffffff">quieroguias</h3>
      </div>

      <div class="p-col-12">
        <p-panelMenu [model]="items"></p-panelMenu>
        <p-divider></p-divider>
        <p-panelMenu [model]="items2"></p-panelMenu>
      </div>
      <div class="p-col-12"></div>
      <div class="p-col-12">
        <div class="p-text-left sidetext" style="font-size: 14px">
          ecommerce logistics system
        </div>
        <div class="p-text-left p-text-light sidetext" style="font-size: 12px">
          © 2021 All Rights Reserved
        </div>
        <br />
        <div class="p-text-left sidetextalt">Made with 💖 by Cookies🍪</div>
      </div>
    </div>
  </nb-sidebar>
  <nb-layout-column>
    <router-outlet></router-outlet>
  </nb-layout-column>
</nb-layout>
