<nb-layout>
  <nb-layout-column>
    <div class="p-grid package-container vertical-container">
      <div class="p-col-12"></div>
      <div class="p-col-12"></div>

      <div class="p-col-12"></div>
      <div class="p-col-12"></div>
      <div class="p-col-12">
        <div class="p-text-center p-text-bold" style="font-size: 36px">
          Vender Paquete
        </div>
      </div>
      <div class="p-col-12"></div>
      <div class="p-col-12"></div>
      <div class="p-col-5"></div>
      <div class="p-d-flex">
        <button
          pButton
          pRipple
          type="button"
          style="background: #eb5757; color: #ffffff"
          label="Cancel"
          [routerLink]="['../dash']"
          class="p-button-danger"
        ></button>

        <button
          pButton
          pRipple
          type="button"
          label="Previous"
          [routerLink]="['../exitovalija']"
          class="p-mx-2"
        ></button>
      </div>
      <div class="p-col-5"></div>
      <div class="p-col-12"></div>
      <div class="p-col-12"></div>
      <div class="p-md-1 p-col-12"></div>
      <div class="p-md-10 p-col-12">
        <div class="p-grid">
          <div class="p-md-2 p-col-12">
            <div class="p-fluid">
              <div class="p-field">
                <span class="p-float-label">
                  <p-dropdown
                    inputId="dropdown"
                    [autoDisplayFirst]="false"
                    [options]="destinys"
                    class="form-control-ckb"
                    [(ngModel)]="Destino"
                    optionLabel="name"
                  ></p-dropdown>
                  <label for="dropdown" class="form-control-label"
                    >Seleccionar</label
                  >
                </span>
              </div>
            </div>
          </div>
          <div class="p-md-10 p-col-12"></div>
        </div>
        <div class="p-fluid">
          <!-- Inicio Tabla Paquetes -->
          <p-table
            responsiveLayout="scroll"
            [value]="valijas!"
            [autoLayout]="true"
            [rowsPerPageOptions]="[10, 25, 50]"
            currentPageReportTemplate="Mostrando {first} hasta {last} de {totalRecords} registros"
            [paginator]="true"
            [rows]="rows"
            [(first)]="first"
            [showCurrentPageReport]="true"
          >
            <ng-template pTemplate="header" styleClass="p-datatable-striped">
              <tr>
                <th style="width: 3rem">
                  <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
                <th>Id</th>
                <th>Paquete</th>
                <th>Impuesto / Arancel</th>
                <th>Tramite Aduanal</th>
                <th>Manejo y Envió</th>
                <th>Seguro</th>
                <th>Total</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-package>
              <tr>
                <td>
                  <p-tableCheckbox [value]="package"></p-tableCheckbox>
                </td>
                <td>{{ package.id }}</td>
                <td>{{ package.country_dest }}</td>
                <td>{{ package.country_org }}</td>
                <td>{{ package.tramiteAduanal }}</td>
                <td>{{ package.manejoEnvio }}</td>
                <td>{{ package.seguro }}</td>
                <td>{{ package.total }}</td>
              </tr></ng-template
            >
          </p-table>
          <!-- Fin Tabla Paquetes -->
        </div>
      </div>
      <div class="p-md-1 p-col-12"></div>
      <div class="p-col-12"></div>
      <div class="p-col-12"></div>
      <div class="p-md-10 p-col-12"></div>

      <div class="p-md-2 p-col-12">
        <button
          pButton
          pRipple
          style="
            background: #5e72e4;
            color: #ffffff;
            font-weight: 700;
            font-size: 14px;
            padding: 10px 15px 10px 15px;
            margin-top: 10px;
          "
          type="button"
          [routerLink]="['../../exitopackage', id]"
          label="VENDER PAQUETES"
        ></button>
      </div>
    </div>
  </nb-layout-column>
</nb-layout>
