<nb-layout>
  <nb-layout-column>
    <div class="p-grid package-container vertical-container">
      <div class="p-col-12"></div>
      <div class="p-col-12"></div>
      <div class="p-col">
        <app-stepper-detail></app-stepper-detail>
      </div>
      <div class="p-col-12"></div>
      <div class="p-col-12"></div>
      <div class="p-col-12">
        <div class="p-text-center p-text-bold" style="font-size: 36px">
          Vender Paquete
        </div>
      </div>
      <div class="p-col-12"></div>
      <div class="p-col-12"></div>
      <div class="p-col-5"></div>
      <div class="p-d-flex">
        <button
          pButton
          pRipple
          type="button"
          style="background: #eb5757; color: #ffffff"
          label="Cancel"
          [routerLink]="['../../dash', id]"
          class="p-button-danger"
        ></button>

        <button
          pButton
          pRipple
          type="button"
          style="background: #ffffff; border: 1px solid #c1c9d2"
          label="Previous"
          [routerLink]="['../../exitovalija', id]"
          class="p-mx-2"
        ></button>
      </div>
      <div class="p-col-5"></div>
      <div class="p-col-12"></div>
      <div class="p-col-12"></div>
      <div class="p-col-1"></div>
      <div class="p-col-10">
        <div class="p-grid">
          <div class="p-col-2">
            <div class="p-fluid">
              <div class="p-field">
                <span class="p-float-label">
                  <p-dropdown
                    inputId="dropdown"
                    [autoDisplayFirst]="false"
                    [options]="destinys"
                    class="form-control-ckb"
                    [(ngModel)]="Destino"
                    optionLabel="name"
                  ></p-dropdown>
                  <label for="dropdown" class="form-control-label"
                    >Seleccionar</label
                  >
                </span>
              </div>
            </div>
          </div>
          <div class="p-col-10"></div>
        </div>
        <div class="p-fluid">
          <!-- Inicio Tabla Paquetes -->
          <p-table>
            <ng-template pTemplate="header" styleClass="p-datatable-striped">
              <tr>
                <th>Paquete</th>
                <th>CODE</th>
                <th>Tienda Destino</th>
                <th>Contenido</th>
                <th colspan="3">Descripción</th>
                <th>Peso</th>
                <th>Tipo de Valija</th>
              </tr>
              <tr>
                <td><p-checkbox name="groupname" value="val1"></p-checkbox></td>
                <td>50615020018</td>
                <td>502</td>
                <td>Mercancia General</td>
                <td colspan="3">
                  Santina Franco Vera/24 Torres de vidrio (2 Tarros llegaron
                  quebrados)
                </td>
                <td>1000</td>
                <td>A</td>
              </tr>
              <tr>
                <td><p-checkbox name="groupname" value="val1"></p-checkbox></td>
                <td>50615020018</td>
                <td>502</td>
                <td>Mercancia General</td>
                <td colspan="3">
                  Santina Franco Vera/24 Torres de vidrio (2 Tarros llegaron
                  quebrados)
                </td>
                <td>1000</td>
                <td>A</td>
              </tr>
              <tr>
                <td><p-checkbox name="groupname" value="val1"></p-checkbox></td>
                <td>50615020018</td>
                <td>502</td>
                <td>Mercancia General</td>
                <td colspan="3">
                  Santina Franco Vera/24 Torres de vidrio (2 Tarros llegaron
                  quebrados)
                </td>
                <td>1000</td>
                <td>A</td>
              </tr>
              <tr>
                <td><p-checkbox name="groupname" value="val1"></p-checkbox></td>
                <td>50615020018</td>
                <td>502</td>
                <td>Mercancia General</td>
                <td colspan="3">
                  Santina Franco Vera/24 Torres de vidrio (2 Tarros llegaron
                  quebrados)
                </td>
                <td>1000</td>
                <td>A</td>
              </tr>
            </ng-template>
          </p-table>
          <!-- Fin Tabla Paquetes -->
        </div>
      </div>
      <div class="p-col-1"></div>
      <div class="p-col-12"></div>
      <div class="p-col-12"></div>
      <div class="p-col-10"></div>

      <div class="p-col-2">
        <button
          pButton
          pRipple
          style="
            background: #5e72e4;
            color: #ffffff;
            font-weight: 700;
            font-size: 14px;
            padding: 10px 15px 10px 15px;
            margin-top: 10px;
          "
          type="button"
          [routerLink]="['../../exitopackage', id]"
          label="VENDER PAQUETES"
        ></button>
      </div>
    </div>
  </nb-layout-column>
</nb-layout>
