<nb-layout>
  <nb-layout-column>
    <div class="p-grid package-container vertical-container">
      <div class="p-col-12"></div>
      <div class="p-col-12"></div>

      <div class="p-col-12"></div>
      <div class="p-col-12"></div>
      <div class="p-col-12">
        <div class="p-text-center p-text-bold" style="font-size: 36px">
          Crear Nuevo Cliente
        </div>
      </div>
      <div class="p-col-12"></div>
      <div class="p-col-12"></div>

      <div class="p-col-12"></div>
      <div class="p-col-12"></div>
      <form [formGroup]="LoginForm!" (ngSubmit)="onSubmit()" class="p-grid">
        <!--    Inicio Fila Nombre // Pais/Territorio -->
        <div class="p-md-1 p-col-12"></div>
        <div class="p-md-5 p-col-12">
          <div class="p-grid">
            <div class="p-col-6">
              <div class="p-fluid">
                <span class="p-float-label">
                  <input
                    id="float-input"
                    class="form-control-input"
                    type="text"
                    formControlName="first_name"
                    pInputText
                    required
                  />
                  <label for="float-input" class="form-control-label"
                    >Nombre del cliente</label
                  >
                  <div *ngIf="LoginForm!.value.first_name.errors?.required">
                    Name is required.
                  </div>
                </span>
              </div>
            </div>
            <div class="p-col-6">
              <div class="p-fluid">
                <span class="p-float-label">
                  <input
                    id="float-input"
                    class="form-control-input"
                    type="text"
                    formControlName="last_name"
                    pInputText
                    required
                  />
                  <label for="float-input" class="form-control-label"
                    >Apellido del cliente</label
                  >
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="p-md-5 p-col-12">
          <div class="p-grid">
            <div class="p-col-6">
              <div class="p-fluid">
                <span class="p-float-label">
                  <input
                    id="float-input"
                    class="form-control-input"
                    type="text"
                    formControlName="codigoCliente"
                    pInputText
                    required
                  />
                  <label for="float-input" class="form-control-label"
                    >Asignar código cliente</label
                  >
                  <div *ngIf="LoginForm!.value.first_name.errors?.required">
                    Name is required.
                  </div>
                </span>
              </div>
            </div>
            <div class="p-col-6">
              <div class="p-fluid">
                <span class="p-float-label">
                  <p-dropdown
                    inputId="dropdown"
                    [autoDisplayFirst]="false"
                    [options]="paises"
                    class="form-control-ckb"
                    formControlName="country"
                    optionLabel="Nombre"
                    optionValue="Codigo"
                  ></p-dropdown>
                  <label for="dropdown" class="form-control-label"
                    >Pais / Territorio</label
                  >
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="p-md-1 p-col-12"></div>
        <!--    Fin Fila Nombre // Pais/Territorio -->

        <!--    Inicio Direccion // Direccion 2-->
        <div class="p-md-1 p-col-12"></div>
        <div class="p-md-5 p-col-12">
          <div class="p-fluid">
            <span class="p-float-label">
              <input
                id="float-input"
                class="form-control-input"
                type="text"
                formControlName="address"
                pInputText
                required
              />
              <label for="float-input" class="form-control-label"
                >Dirección</label
              >
            </span>
          </div>
        </div>
        <div class="p-md-5 p-col-12">
          <div class="p-fluid">
            <span class="p-float-label">
              <input
                id="float-input"
                class="form-control-input"
                type="text"
                formControlName="second_address"
                pInputText
                required
              />
              <label for="float-input" class="form-control-label"
                >Dirección 2</label
              >
            </span>
          </div>
        </div>
        <div class="p-md-1 p-col-12"></div>
        <!--    Fin Direccion // Direccion 2-->

        <!--    Inicio Codigo cuidad estado // email -->
        <div class="p-md-1 p-col-12"></div>
        <div class="p-md-5 p-col-12">
          <div class="p-grid">
            <div class="p-col-4">
              <div class="p-fluid">
                <span class="p-float-label">
                  <input
                    id="float-input"
                    class="form-control-input"
                    type="text"
                    formControlName="post_cod"
                    pInputText
                    required
                  />
                  <label for="float-input" class="form-control-label"
                    >Código Postal</label
                  >
                </span>
              </div>
            </div>
            <div class="p-col-4">
              <div class="p-fluid">
                <span class="p-float-label">
                  <input
                    id="float-input"
                    class="form-control-input"
                    type="text"
                    formControlName="city"
                    pInputText
                    required
                  />
                  <label for="float-input" class="form-control-label"
                    >Cuidad</label
                  >
                </span>
              </div>
            </div>
            <div class="p-col-4">
              <div class="p-fluid">
                <span class="p-float-label">
                  <input
                    id="float-input"
                    class="form-control-input"
                    type="text"
                    formControlName="state"
                    pInputText
                    required
                  />
                  <label for="float-input" class="form-control-label"
                    >Estado</label
                  >
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="p-md-5 p-col-12">
          <div class="p-fluid">
            <span class="p-float-label">
              <input
                id="float-input"
                class="form-control-input"
                type="email"
                formControlName="email"
                pInputText
                required
              />
              <label for="float-input" class="form-control-label"
                >Dirección de Correo</label
              >
            </span>
          </div>
        </div>
        <div class="p-md-1 p-col-12"></div>
        <!--    Fin Codigo cuidad estado // email -->

        <!--    Inicio tipoTelefono codigo telefono -->
        <div class="p-md-1 p-col-12"></div>
        <div class="p-md-5 p-col-12">
          <div class="p-grid">
            <div class="p-col-4">
              <div class="p-fluid">
                <span class="p-float-label">
                  <p-dropdown
                    inputId="dropdown"
                    [autoDisplayFirst]="false"
                    [options]="phones"
                    class="form-control-ckb"
                    formControlName="services"
                    optionLabel="name"
                  ></p-dropdown>
                  <label for="dropdown" class="form-control-label"
                    >Seleccionar</label
                  >
                </span>
              </div>
            </div>
            <div class="p-col-4">
              <div class="p-fluid">
                <span class="p-float-label">
                  <input
                    id="float-input"
                    class="form-control-input"
                    type="text"
                    formControlName="col"
                    pInputText
                    required
                  />
                  <label for="float-input" class="form-control-label"
                    >Código</label
                  >
                </span>
              </div>
            </div>
            <div class="p-col-4">
              <div class="p-fluid">
                <span class="p-float-label">
                  <input
                    id="float-input"
                    class="form-control-input"
                    type="text"
                    formControlName="phone"
                    pInputText
                    required
                  />
                  <label for="float-input" class="form-control-label"
                    >Telefono</label
                  >
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="p-md-6 p-col-12 p-mt-4">
          <div class="p-formgroup-inline">
            <div class="p-field-checkbox">
              <p-toggleButton
                inputId="city3"
                formControlName="form_1583"
                onIcon="pi pi-check"
              ></p-toggleButton>
              <label for="city3">Forma 1583</label>
            </div>
            <!-- <div class="p-field-checkbox" formGroupName="notifications">
              <p-toggleButton
                inputId="city4"
                formControlName="notiemail"
                onIcon="pi pi-check"
              ></p-toggleButton>

              <label for="city4">Notificaciones Email</label>
            </div>
            <div class="p-field-checkbox" formGroupName="notifications">
              <p-toggleButton
                inputId="city5"
                formControlName="notisms"
                onIcon="pi pi-check"
              ></p-toggleButton>

              <label for="city5">Notificaciones SMS</label>
            </div> -->
          </div>
        </div>

        <!--    Fin tipoTelefono codigo telefono -->

        <!--  Butones -->
        <div class="p-md-3 p-col-12"></div>
        <div class="p-md-3 p-col-12"></div>
        <div class="p-md-3 p-col-12">
          <div class="p-fluid">
            <button
              pButton
              pRipple
              style="
                background: #fb9b14;
                border: 1px solid #fb9b14;
                color: #ffffff;
                font-weight: 700;
                font-size: 14px;
                padding: 16px 5px 16px 5px;
              "
              type="button"
              label="Subir Documentos"
            ></button>
          </div>
        </div>
        <div class="p-md-3 p-col-12">
          <div class="p-fluid">
            <button
              [disabled]="LoginForm!.invalid"
              pButton
              *ngIf="!editMode"
              pRipple
              style="
                background: #fb9b14;
                border: 1px solid #fb9b14;
                color: #ffffff;
                font-weight: 700;
                font-size: 14px;
                padding: 16px 5px 16px 5px;
              "
              type="submit"
              label="Guadar Nuevo Contacto"
            ></button>
            <button
              pButton
              *ngIf="editMode"
              pRipple
              style="
                background: #fb9b14;
                border: 1px solid #fb9b14;
                color: #ffffff;
                font-weight: 700;
                font-size: 14px;
                padding: 16px 5px 16px 5px;
              "
              type="submit"
              label="Actualizar Contacto"
            ></button>
          </div>
        </div>
      </form>
      <div class="p-col-12"></div>
    </div>
  </nb-layout-column>
</nb-layout>
