<nb-layout>
  <nb-layout-column>
    <div class="p-grid package-container vertical-container">
      <div class="p-col-12"></div>
      <div class="p-col-12"></div>

      <div class="p-col-12"></div>
      <div class="p-col-12"></div>
      <div class="p-col-12">
        <div class="p-text-center p-text-bold" style="font-size: 36px">
          Valija Creada
        </div>
      </div>
      <div class="p-col-12"></div>
      <div class="p-col-12"></div>
      <div class="p-col-5"></div>
      <div class="p-d-flex">
        <button
          pButton
          pRipple
          type="button"
          style="background: #eb5757; color: #ffffff"
          label="Cancel"
          [routerLink]="['../dash']"
          class="p-button-danger"
        ></button>
      </div>
      <div class="p-col-5"></div>
      <div class="p-col-12"></div>
      <div class="p-col-12"></div>
      <div class="p-md-5 p-col-12"></div>
      <div class="p-md-2 p-col-12">

          <img src="assets/img/Frame.png" class="img-responsive" alt="" />

      </div>
      <div class="p-md-4 p-col-12"></div>
      <div class="p-md-2 p-col-12"></div>
      <div class="p-md-8 p-col-12">
        <p class="texto-valija-exito">
          La valija ha sido procesada correctamente con el número:
          <span class="texto-valija-exito-numero">{{ idValija }}</span>
        </p>
      </div>
      <div class="p-md-2 p-col-12"></div>

      <div class="p-md-2 p-col-12"></div>
      <div class="p-md-2 p-col-12">
        <div class="p-fluid">
          <button
            pButton
            pRipple
            style="
              background: #5e72e4;
              color: #ffffff;
              font-weight: 700;
              font-size: 14px;
              padding: 10px 24px 10px 24px;
              margin-top: 10px;
            "
            type="button"
            [routerLink]="['../../exitovalija', id]"
            label="IMPRIMIR ETIQUETA"
          ></button>
        </div>
      </div>
      <div class="p-md-2 p-col-12">
        <div class="p-fluid">
          <button
            pButton
            pRipple
            style="
              background: #fb9b14;
              color: #ffffff;
              font-weight: 700;
              font-size: 14px;
              padding: 10px 24px 10px 24px;
              margin-top: 10px;
            "
            type="button"
            [routerLink]="['../../exitovalija', id]"
            label="IMPRIMIR CONTENIDO DE VALIJA"
          ></button>
        </div>
      </div>
      <div class="p-md-2 p-col-12">
        <div class="p-fluid">
          <button
            pButton
            pRipple
            style="
              background: #fb9b14;
              color: #ffffff;
              font-weight: 700;
              font-size: 14px;
              padding: 10px 24px 10px 24px;
              margin-top: 10px;
            "
            type="button"
            [routerLink]="['../../exitovalija', id]"
            label="IMPRIMIR REPORTE DE ARTICULOS"
          ></button>
        </div>
      </div>
      <div class="p-md-2 p-col-12">
        <div class="p-fluid">
          <button
            pButton
            pRipple
            style="
              background: #47a7dd;
              color: #ffffff;
              font-weight: 700;
              font-size: 14px;
              padding: 10px 24px 10px 24px;
              margin-top: 10px;
            "
            type="button"
            [routerLink]="['../../exitovalija', id]"
            label="IMPRIMIR PACKING LIST"
          ></button>
        </div>
      </div>
      <div class="p-md-2 p-col-12"></div>
      <div class="p-col-12"></div>
      <div class="p-col-12"></div>
    </div>
  </nb-layout-column>
</nb-layout>
