<nb-layout>
  <nb-layout-column>
    <div class="p-grid package-container vertical-container">
      <div class="p-col-12"></div>
      <div class="p-col-12"></div>

      <div class="p-col-12"></div>
      <div class="p-col-12"></div>
      <div class="p-col-2"></div>
      <div class="p-col-6">
        <div class="p-text-center p-text-bold" style="font-size: 16px">
          CONTRATO DE PRESTACION DE SERVICIO PARA LA RECEPCION DE
          CORRESPONDENCIA Y PAQUETERIA NACIONAL E INTERNACIONAL
        </div>
      </div>
      <div class="p-col-2"></div>
      <div class="p-col-12"></div>
      <div class="p-col-12"></div>
      <!--  <div class="p-col-5"></div>
      <div class="p-d-flex">
        <button
          pButton
          pRipple
          type="button"
          style="background: #eb5757; color: #ffffff"
          label="Cancel"
          [routerLink]="['../dash']"
          class="p-button-danger"
        ></button>

        <button
          pButton
          pRipple
          type="button"
         
          label="Previous"
          [routerLink]="['../../package', id]"
          class="p-mx-2"
        ></button>
        <button
          pButton
          pRipple
          type="button"
          style="background: #27ae60; color: #ffffff"
          label="Next"
          [routerLink]="['../../exitovalija', id]"
          class="p-button-success"
        ></button>
      </div>
      <div class="p-col-5"></div> -->
      <div class="p-col-12"></div>
      <div class="p-col-12"></div>
      <div class="p-col">
        <p class="p-text-bold" style="font-size: 12px; line-height: 18px">
          Contrato de servicios en el que dos partes están de acuerdo, por una
          parte iShop&Mail® en Ishop & Mail Peninsula, franquicia representada
          por Surplus Logistics, quien en el presente contrato será denominado
          como el Prestador de Servicios y por la otra parte: <br />
          erick torres delgadi <br />
          Quien será denominado como El Cliente(s), tenor de los siguientes
          antecedentes y artículos: <br />
          A N T E C E D E N T E S • iShop&Mail ® es una compañía que tiene como
          objetivos, entre otros, el envío de documentos, correspondencia y
          paquetería entre las ciudades de Laredo, Texas, U.S.A y el pueblo de
          Zona Hotelera Norte, Puerto Vallarta, Jalisco, México. <br />
          A R T I C U L O S <br />
          PRIMERO.- El Prestador de Servicios acepta traer la correspondencia
          recibida en la dirección estipulada en el Articulo Once a su
          iShop&Mail® en Zona Hotelera Norte, Puerto Vallarta, Jalisco,
          deslindándose de cualquier tipo de responsabilidad por cualquier
          correspondencia o paquetería antes de ser recibida en la misma
          dirección.
        </p>
        <p class="p-text-bold" style="font-size: 12px; line-height: 18px">
          SEGUNDO.-Toda propiedad del Prestador de Servicios y los servicios
          estipulados en este contrato no serán utilizados para ningún fin
          considerado ilícito por las leyes. Este contrato será rescindido sin
          ningún tipo de aviso previo en caso de presentarse cualquier tipo de
          estas actividades. En este caso el Prestador de Servicios se deslinda
          de toda y cualquier responsabilidad por la recepción de la
          correspondencia y paquetería de El Cliente.
        </p>
        <p class="p-text-bold" style="font-size: 12px; line-height: 18px">
          TERCERO.- El Prestador de Servicios no será responsable por ningún
          tipo de información ni declaración de valor falsa otorgada por El
          Cliente para los paquetes a ser importados para el mismo.
        </p>
        <p class="p-text-bold" style="font-size: 12px; line-height: 18px">
          CUARTO.-El Cliente acepta pagar $420.00 cantidad escrita cuatrocientos
          veinte USD por el servicio de ibox® , el cual será el apartado numero
          1002 y con el plan de 2 kg por mutuo acuerdo por los servicios motivo
          de este contrato.
        </p>
        <p class="p-text-bold" style="font-size: 12px; line-height: 18px">
          QUINTO.- Todos los servicios y rentas serán pagados por anticipado.
          Este contrato surgirá efecto precisamente en el día 16/02/2018 y
          terminara en el día 16/03/2019. Ambas partes acuerdan en que no se
          realizara ningún tipo de devolución por la cancelación de este
          contrato.
        </p>
        <p class="p-text-bold" style="font-size: 12px; line-height: 18px">
          SEXTO.- Ambas partes acuerdan que El Cliente tiene exactamente UN día
          a partir del vencimiento de este contrato, para la renovación del
          servicio de ibox® , antes de que este sea suspendido y el apartado
          postal mismo quede sujeto a la renta por cualquier otra persona que
          desee contratar el servicio de ibox® . Ambas partes están de acuerdo
          que toda renta vencida causara la terminación del presente contrato
          sin necesidad de declaración judicial previa.
        </p>
        <p class="p-text-bold" style="font-size: 12px; line-height: 18px">
          SEPTIMO.-El Cliente acepta proteger y mantener al Prestador de
          Servicios libre de cualquier tipo de responsabilidad contra cualquier
          queja y/o problema legal derivado de los servicios aquí contratados
          y/o por la violación de las leyes locales, Estatales y Federales
          aplicables en Los Estados Unidos Mexicanos o en Los Estados Unidos de
          América.
        </p>
        <p class="p-text-bold" style="font-size: 12px; line-height: 18px">
          OCTAVO.-El Cliente es notificado que toda aquella correspondencia y
          paquetería que deseen ser recibidos en los Estados Unidos de América y
          reenviados mediante el servicio de ibox® al pueblo de Zona Hotelera
          Norte, Puerto Vallarta, Jalisco deberán ser enviados a la siguiente
          dirección: 2163 Lima Loop PMB 1002 Laredo, TX 78045-6420
        </p>
        <p class="p-text-bold" style="font-size: 12px; line-height: 18px">
          NOVENO.- El Cliente es notificado que toda aquella correspondencia y
          paquetería que deseen ser recibidos directamente en el Centro
          iShop&Mail® en San Antonio Tlayacapan, Jalisco sin pasar por ningún
          tipo de sistema de reenvío, deberán ser enviados a la siguiente
          dirección: Blvd. Francisco Medina Ascencio No. 2485, Local C1, Box #
          1002 Zona Hotelera Norte, Puerto Vallarta, Jalisco C.P. 48333. Ambas
          partes acuerdan que en este caso El Prestador de Servicios no será
          responsable por los tiempos de entrega, perdida, condición en que la
          correspondencia o paquetería sean entregadas ni ningún tipo de costos
          en que este incurra.
        </p>
        <p class="p-text-bold" style="font-size: 12px; line-height: 18px">
          DECIMO.- Las políticas para la recepción de correspondencia y
          paquetería son:
          <br />
          a) Limites de peso sin cobro extra para la correspondencia: TAMANO DE
          E-BOX NUMERO DE USUARIOS PESO / SMES <br />
          PLAN 2 Ilimitado 2 Kgs. / 4 Lbs. <br />
          PLAN 4 Ilimitado 4 Kgs. / 8 Lbs. <br />
          PLAN 7 Ilimitado 7 Kgs. / 14 Lbs <br />
          b) El Cliente(s) acepta las siguientes obligaciones: <br />
          1.-Pagar los excedentes de peso por la correspondencia recibida, de
          acuerdo a los limites de peso arriba mencionados y a los precios
          vigentes en iShop&Mail® en su momento. <br />
          2.-Pagar todos los costos aduanales, tramites, flete y manejo de todos
          los artículos recibidos y que no sean correspondencia. <br />
          3.-Si algún paquete y/o correspondencia son recibidos en Laredo TX sin
          la propia identificación, dirección de PMB el cliente podrá ser
          cobrado por su respectiva identificación. <br />
          4.-Toda responsabilidad de entrega de correspondencia y paquetería del
          Prestador de Servicios, serán cancelados si los mismos no cuentan con
          la dirección y/o PMB correctos.<br />
          c) Los costos para la importación de paquetería son los siguientes:
          <br />
          1.-GASTOS ADUANALES <br />
          • Impuesto al Comercio Exterior (Arancel) <br />
          • I.V.A. <br />
          • Honorarios de Agente Aduanal <br />
          • Tramites especiales para la importación (en caso de que el paquete
          lo requiera) <br />
          • Flete y Manejo de Laredo, TX. al centro iShop&Mail® <br />
          d) Ambas partes acuerdan que si El Cliente(s) rechaza pagar los costos
          arriba mencionados para recibir su paquete, dicho paquete pasara a ser
          propiedad del Prestador de Servicios para hacer con él lo que a este
          convenga. <br />
          e) Ambas partes aceptan que si El Cliente desea retornar el paquete
          una vez recibido en el Centro iShop&Mail®, El Cliente deberá pagar lo
          siguiente: <br />
          • Los costos arriba mencionados para la importación del paquete a
          México <br />
          • Flete y manejo para el retorno del paquete <br />
          f)MERCANCIA RESTRINGIDA <br />
          • Explosivos, armas de fuego, balas, cuchillos, etc. <br />
          • Pornografía <br />
          • Líquidos y productos flamables <br />
          • Cualquier tipo de drogas <br />
          • Aquellos prohibido por las leyes Mexicanas MERCANCIA QUE REQUIERE DE
          ALGUN TIPO DE PERMISOS ESPECIALES <br />
          • Ropa y artículos usados <br />
          • Perfumes y artículos de higiene personal <br />
          • Vitaminas y Medicinas (Incluidas las Naturales) <br />
          • Equipos Médicos <br />
          • Alimentos y suplementos alimenticios
        </p>
        <p class="p-text-bold" style="font-size: 12px; line-height: 18px">
          ONCEAVO.- Si alguna mercancía restringida es recibida en Laredo, TX
          esta será enviada de regreso con costo para El Cliente.
        </p>
        <p class="p-text-bold" style="font-size: 12px; line-height: 18px">
          DOCEAVA.- El Prestador de Servicios no será responsable por el estado
          en que los paquetes sean recibidos en Laredo, TX.
        </p>
        <p class="p-text-bold" style="font-size: 12px; line-height: 18px">
          Este contrato se extiende en el pueblo de Zona Hotelera Norte, Puerto
          Vallarta, Jalisco, México con fecha: 22/04/2021.
        </p>
      </div>
      <div class="p-col-12"></div>
      <div class="p-col-12"></div>
      <div class="p-md-2 p-col-12">
        <div class="p-fluid">
          <button
            pButton
            pRipple
            style="
              background: #fb9b14;
              border: 1px solid #fb9b14;
              color: #ffffff;
              font-weight: 700;
              font-size: 14px;
              padding: 16px 5px 16px 5px;
            "
            type="button"
            label="FIRMA DEL CLIENTE"
          ></button>
        </div>
      </div>
      <div class="p-md-2 p-col-12">
        <div class="p-fluid">
          <button
            pButton
            pRipple
            style="
              background: #fb9b14;
              border: 1px solid #fb9b14;
              color: #ffffff;
              font-weight: 700;
              font-size: 14px;
              padding: 16px 5px 16px 5px;
            "
            type="button"
            label="FIRMA DEL TESTIGO"
          ></button>
        </div>
      </div>
      <div class="p-md-2 p-col-12">
        <div class="p-fluid">
          <button
            pButton
            pRipple
            style="
              background: #fb9b14;
              border: 1px solid #fb9b14;
              color: #ffffff;
              font-weight: 700;
              font-size: 14px;
              padding: 16px 5px 16px 5px;
            "
            type="button"
            label="FIRMA DEL PROVEEDOR"
          ></button>
        </div>
      </div>
      <div class="p-md-6 p-col-12"></div>
    </div>
  </nb-layout-column>
</nb-layout>
