/* You can add global styles to this file, and also import other style files */
sidebar = #2130B8
whitey = #FDFDFD
.nb-theme-corporate nb-layout .layout .highlightCol
  background sidebar !important

img
  object-fit: contain;
  display: block;
  margin-left: auto;
  margin-right: auto;

.fullPrimeButton
  width 100%

.columns
  margin-top 20px

.subheader
  position fixed !important
  width 85vw
  z-index 99
  box-shadow rgba(0, 0, 0, 0.16) 0px 3px 6px,
   rgba(0, 0, 0, 0.23) 0px 3px 6px !important

.nb-theme-corporate nb-layout-header nav
  height 3rem !important

.nb-theme-corporate nb-layout-header.fixed ~ .layout-container
  padding-top  2.5rem !important

.nb-theme-corporate nb-layout .layout .layout-container .content .columns nb-layout-column
  padding 0.5rem !important

.nb-theme-corporate nb-sidebar
  background sidebar !important
  box-shadow rgba(0, 0, 0, 0.16) 0px 3px 6px,
   rgba(0, 0, 0, 0.23) 0px 3px 6px !important

.nb-theme-corporate nb-sidebar .scrollable
  padding 1rem !important
  overflow-y hidden !important

.p-panelmenu .p-panelmenu-header > a
  background none !important
  border none !important
  border-radius 15px !important

.p-panelmenu .p-panelmenu-header > a:hover
  background rgba(255, 255, 255, 0.1) !important

.p-divider.p-divider-horizontal:before
  border-top-color white !important

.topdrop .p-dropdown
  background rgba(255, 255, 255, 0) !important
  border-left 0 !important
  border-radius 0px 125px 125px 0px !important
  border-color lighten(sidebar, 5) !important
  background sidebar !important
  margin: 0px !important;
.topdrop .p-inputtext
  color whitey !important

.topdropaddon.p-inputgroup-addon
  color whitey !important
  border-color lighten(sidebar, 5) !important
  border-radius 125px 0px 0px 125px !important

.centerbtn
  display block !important
  margin-left auto !important
  margin-right auto !important

.topsearch
  background #FFF !important
  color #252525 !important
  border-color #858585 !important
  border-radius 25px !important

.topdropaddon
  background sidebar !important

.darktxt
  color #858585 !important

.topdrop
  background #FFF !important

.main-container { top: 0px !important; }


.form-control-input
  background #DADDE3 !important;
  border 0px !important
  color: #262626 !important
  margin 10px 0px 10px 0px !important;
  padding 0.8em !important
  &:focus
    border 0px !important
.form-control-label
  color #828894 !important
  font-size: 12px !important
  font-weight  400 !important
.p-dropdown
  background #DADDE3 !important;
  border 0px !important
  padding 0.1em !important
  margin: 8px 0px 8px 0px !important;
.p-dropdown-panel
  background #bfbfbf !important;
  border 0px !important


.p-checkbox .p-checkbox-box
  background: #bfbfbf !important
  border 0px !important
.p-checkbox-icon.pi.pi-check
  background: #FB6340 !important
  color: #FFFFFF !important
  border 1px solid #FB6340 !important
  padding 0px !important
  font-size 1em !important

.p-dropdown-panel .p-dropdown-items .p-dropdown-item
  color:#000000 !important
  font-weight: 500 !important
  font-size: 14px !important
.p-dropdown-panel .p-dropdown-items .p-dropdown-item.p-highlight
  color:#000000 !important
  font-weight: 500 !important
  font-size: 14px !important
  &:before
    background: #FB6340 !important

.p-radiobutton-box
  background: #FFFFFF !important
  border 0px !important
.p-radiobutton-icon
  background: #FB6340 !important
.p-inputtext
  color:#000000 !important
  font-weight: 500 !important
  font-size: 14px !important
.p-inputgroup-addon
  color:#000000 !important
  font-weight: 500 !important
  font-size: 14px !important

.label-button-warning
  color #FFFFFF !important
  font-size: 13px !important
  font-weight  700 !important


.p-steps-number
  background #6B7280 !important
.p-steps-title
  color:#3C4257 !important
  font-weight: 500 !important
  font-size: 18px !important
.form-control-input-feature
  background #DADDE3 !important;
  border 0px !important
  width: 100% !important
  color:  !important
  margin 10px 0px 10px 0px !important;
  padding 0.8em !important
  &:active
     border 0px !important

.label-process
  font-weight: 700 !important
  font-size: 24px !important
.text-process
  font-weight: 400 !important
  font-size: 24px !important

.img-card-credit
  padding 0.8em !important
  border-radius 10px !important
  background #FC7C5F !important
  img
    width 80px !important
.img-card-paypal
  background #FB9B14 !important
  padding 0.8em !important
  border-radius 10px !important
  img
    width 150px !important
.img-card-efectivo
  background #5E72E4 !important
  padding 0.8em !important
  text-decoration: none !important
  border-radius 10px !important
  h3
    color #FFFF !important
    font-weight 800 !important
    font-size 32px !important

.dividerPrices.p-divider.p-divider-horizontal:before
  border-top-color #3C4257 !important
.border-y
  border-top: 2px solid #D6D6D6
  border-bottom: 1px solid #D6D6D6

.labelPrices
  font-size:14px !important
  color:#1A1A1A !important
  font-weight: 400 !important
.labelPricePrices
  font-size:14px !important
  color:#2130B8 !important
  font-weight: 600 !important
.labelTitlePrices
  font-size:18px !important
  color:#000000 !important
  font-weight: 500 !important
.dash-container
  height 100vh
.confirmation-container
  height 100vh
.process-container
  height 100vh
.customer-container
  overflow-y: scroll
.prices-container
  overflow-y: scroll
.features-container
  height 95vh
.labelTable
  font-weight: 700 !important
  font-size: 24px !important
.p-datatable .p-datatable-thead > tr > th
  color: rgb(0 0 0) !important;
  background: #0a050500 !important;
.texto-valija-exito
  font-weight: 600 !important
  font-size: 36px !important
.texto-valija-exito-numero
  font-weight: 600 !important
  font-size: 36px !important
  color: #13B497 !important
  line-height: 54px !important
