/* You can add global styles to this file, and also import other style files */
sidebar = #2130B8
whitey = #FDFDFD
.nb-theme-corporate nb-layout .layout .highlightCol
  background sidebar !important

img
  object-fit: contain;
  display: block;
  margin-left: auto;
  margin-right: auto;
  
.fullPrimeButton
  width 100%

.columns
  margin-top 20px

.subheader
  position fixed !important
  width 90vw
  z-index 99
  box-shadow rgba(0, 0, 0, 0.16) 0px 3px 6px,
   rgba(0, 0, 0, 0.23) 0px 3px 6px !important

.nb-theme-corporate nb-layout-header nav
  height 2.5rem !important
  
.nb-theme-corporate nb-layout-header.fixed ~ .layout-container
  padding-top  2.5rem !important

.nb-theme-corporate nb-layout .layout .layout-container .content .columns nb-layout-column
  padding 0.5rem !important

.nb-theme-corporate nb-sidebar
  background sidebar !important
  box-shadow rgba(0, 0, 0, 0.16) 0px 3px 6px,
   rgba(0, 0, 0, 0.23) 0px 3px 6px !important

.nb-theme-corporate nb-sidebar .scrollable
  padding 1rem !important
  overflow-y hidden !important

.p-panelmenu .p-panelmenu-header > a
  background none !important
  border none !important
  border-radius 15px !important

.p-panelmenu .p-panelmenu-header > a:hover
  background rgba(255, 255, 255, 0.1) !important

.p-divider.p-divider-horizontal:before
    border-top-color white !important

.topdrop .p-dropdown
  background rgba(255, 255, 255, 0) !important
  border-left 0 !important
  border-radius 0px 125px 125px 0px !important
  border-color lighten(sidebar, 5) !important
  background sidebar !important

.topdrop .p-inputtext
  color whitey !important

.topdropaddon.p-inputgroup-addon
  color whitey !important
  border-color lighten(sidebar, 5) !important
  border-radius 125px 0px 0px 125px !important

.centerbtn
  display block !important
  margin-left auto !important
  margin-right auto !important

.topsearch
  background #FFF !important
  color #252525 !important
  border-color #858585 !important
  border-radius 25px !important

.topdropaddon
  background sidebar !important

.darktxt
  color #858585 !important

.topdrop
  background #FFF !important

.main-container { top: 0px !important; }