<nb-layout>
  <nb-layout-column>
    <div class="p-grid customer-container vertical-container">
      <div class="p-col-12"></div>

      <div class="p-col-12"></div>

      <div class="p-col-12"></div>

      <div class="p-col-12"></div>
      <div class="p-col-12">
        <div class="p-text-center p-text-bold" style="font-size: 36px">
          Ingresa los datos del cliente.
        </div>
      </div>
      <div class="p-col-12"></div>
      <div class="p-col-12"></div>
      <div class="p-col-12">
        <form
          class="p-grid"
          [formGroup]="ShippmentForm!"
          (ngSubmit)="onSubmit()"
        >
          <!--  Inicio  Seccion Formulario -- DE: -->
          <div class="p-col-1"></div>
          <div class="p-col-5">
            <h2>DE:</h2>
            <div class="p-fluid">
              <div class="p-field">
                <span class="p-float-label">
                  <input
                    type="text"
                    class="form-control-input"
                    pInputText
                    formControlName="nombreDe"
                  />
                  <label for="inputtext" class="form-control-label"
                    >Nombre</label
                  >
                </span>
              </div>

              <div class="p-field">
                <span class="p-float-label">
                  <input
                    style="width: 100%"
                    type="text"
                    id="inputtext"
                    pInputText
                    class="form-control-input"
                    formControlName="empresaDe"
                  />
                  <label for="inputtext" class="form-control-label"
                    >Empresa</label
                  >
                </span>
              </div>
              <div class="p-field">
                <span class="p-float-label">
                  <p-dropdown
                    inputId="dropdown"
                    [autoDisplayFirst]="false"
                    [options]="paises"
                    class="form-control-ckb"
                    formControlName="paisDe"
                    optionLabel="Nombre"
                    optionValue="Nombre"
                  ></p-dropdown>
                  <label for="dropdown" class="form-control-label"
                    >Pais / Territorio</label
                  >
                </span>
              </div>
              <div class="p-field">
                <span class="p-float-label">
                  <input
                    style="width: 100%"
                    type="text"
                    id="inputtext"
                    pInputText
                    class="form-control-input"
                    formControlName="direccionDe"
                  />
                  <label for="inputtext" class="form-control-label"
                    >Dirección</label
                  >
                </span>
              </div>
              <div class="p-field">
                <span class="p-float-label">
                  <input
                    style="width: 100%"
                    type="text"
                    id="inputtext"
                    pInputText
                    class="form-control-input"
                    formControlName="direccion2De"
                  />
                  <label for="inputtext" class="form-control-label"
                    >Dirección 2</label
                  >
                </span>
              </div>
              <div class="p-field">
                <span class="p-float-label">
                  <input
                    style="width: 100%"
                    type="text"
                    id="inputtext"
                    pInputText
                    class="form-control-input"
                    formControlName="direccion3De"
                  />
                  <label for="inputtext" class="form-control-label"
                    >Dirección 3</label
                  >
                </span>
              </div>
              <div class="p-d-flex">
                <div class="p-field">
                  <span class="p-float-label">
                    <input
                      style="width: 100%"
                      type="text"
                      id="inputtext"
                      pInputText
                      class="form-control-input"
                      formControlName="codigoPostalDe"
                    />
                    <label for="inputtext" class="form-control-label"
                      >Codigo Postal</label
                    >
                  </span>
                </div>
                <div class="p-field p-mx-2">
                  <span class="p-float-label">
                    <input
                      style="width: 100%"
                      type="text"
                      id="inputtext"
                      pInputText
                      class="form-control-input"
                      formControlName="cuidadDe"
                    />
                    <label for="inputtext" class="form-control-label"
                      >Ciudad</label
                    >
                  </span>
                </div>
                <div class="p-field">
                  <span class="p-float-label">
                    <input
                      style="width: 100%"
                      type="text"
                      id="inputtext"
                      pInputText
                      class="form-control-input"
                      formControlName="estadoDe"
                    />
                    <label for="inputtext" class="form-control-label"
                      >Estado</label
                    >
                  </span>
                </div>
              </div>
              <div class="p-field">
                <span class="p-float-label">
                  <input
                    style="width: 100%"
                    type="text"
                    id="inputtext"
                    pInputText
                    class="form-control-input"
                    formControlName="emailDe"
                  />
                  <label for="inputtext" class="form-control-label"
                    >Dirección de email</label
                  >
                </span>
              </div>

              <div class="p-d-flex">
                <div class="p-field">
                  <span class="p-float-label">
                    <p-dropdown
                      inputId="dropdown"
                      [autoDisplayFirst]="false"
                      [options]="phones"
                      class="form-control-ckb"
                      formControlName="tipoTelefonoDe"
                      optionLabel="name"
                      optionValue="name"
                    ></p-dropdown>
                    <label for="dropdown" class="form-control-label"
                      >Seleccionar</label
                    >
                  </span>
                </div>

                <div class="p-field">
                  <span class="p-float-label p-mx-5">
                    <input
                      style="width: 100%"
                      type="text"
                      id="inputtext"
                      pInputText
                      class="form-control-input"
                      formControlName="codigoDe"
                    />
                    <label for="inputtext" class="form-control-label"
                      >Código</label
                    >
                  </span>
                </div>
                <div class="p-field">
                  <span class="p-float-label">
                    <input
                      style="width: 100%"
                      type="text"
                      id="inputtext"
                      pInputText
                      class="form-control-input"
                      formControlName="telefonoDe"
                    />
                    <label for="inputtext" class="form-control-label"
                      >Teléfono</label
                    >
                  </span>
                </div>
              </div>
              <div class="p-d-flex p-ai-center"  formGroupName="notifications">
                <div class="p-field p-as-center">
                  <div class="p-field-checkbox">
                    <p-toggleButton
                      inputId="city1"
                      formControlName="direccion_residencial"
                      onIcon="pi pi-check"
                    ></p-toggleButton>
                    <label for="city1">Dirección Residencial</label>
                  </div>
                </div>
                <div class="p-field p-mx-2">
                  <div class="p-field-checkbox">
                    <p-toggleButton
                      inputId="city2"
                      formControlName="notiemail"
                      onIcon="pi pi-check"
                    ></p-toggleButton>
                    <label for="city2">Notificaciones Email</label>
                  </div>
                </div>
                <div class="p-field">
                  <div class="p-field-checkbox">
                    <p-toggleButton
                      inputId="city3"
                      formControlName="notisms"
                      onIcon="pi pi-check"
                    ></p-toggleButton>
                    <label for="city3">Notificaciones SMS</label>
                  </div>
                </div>
              </div>

              <!-- <div class="p-d-flex">

              <button
                pButton
                pRipple
                style="background: #fb9b14"
                type="button"
                label="PROCEDER A PAGO"
                class="label-button-warning p-button-warning p-mx-2"
              ></button>
              <button
                pButton
                pRipple
                type="button"
                style="background: #47a7dd"
                label=" LIMPIAR DIRECCION"
                class="label-button-warning p-button-success"
              ></button>
            </div> -->
            </div>
          </div>
          <!--  Fin Seccion Formulario -- DE: -->
          <div class="p-col-1"></div>
          <!--  Inicio Seccion Formulario -- A: -->
          <div class="p-col-5">
            <h2>A:</h2>
            <div class="p-fluid">
              <div class="p-field">
                <span class="p-float-label">
                  <input
                    type="text"
                    class="form-control-input"
                    pInputText
                    formControlName="nombreA"
                  />
                  <label for="inputtext" class="form-control-label"
                    >Nombre</label
                  >
                </span>
              </div>
              <div class="p-field">
                <span class="p-float-label">
                  <input
                    style="width: 100%"
                    type="text"
                    id="inputtext"
                    pInputText
                    class="form-control-input"
                    formControlName="empresaA"
                  />
                  <label for="inputtext" class="form-control-label"
                    >Empresa</label
                  >
                </span>
              </div>
              <div class="p-field">
                <span class="p-float-label">
                  <p-dropdown
                    inputId="dropdown"
                    [autoDisplayFirst]="false"
                    [options]="paises"
                    class="form-control-ckb"
                    formControlName="paisA"
                    optionLabel="Nombre"
                    optionValue="Nombre"
                  ></p-dropdown>
                  <label for="dropdown" class="form-control-label"
                    >Pais / Territorio</label
                  >
                </span>
              </div>
              <div class="p-field">
                <span class="p-float-label">
                  <input
                    style="width: 100%"
                    type="text"
                    id="inputtext"
                    pInputText
                    class="form-control-input"
                    formControlName="direccionA"
                  />
                  <label for="inputtext" class="form-control-label"
                    >Dirección</label
                  >
                </span>
              </div>
              <div class="p-field">
                <span class="p-float-label">
                  <input
                    style="width: 100%"
                    type="text"
                    id="inputtext"
                    pInputText
                    class="form-control-input"
                    formControlName="direccion2A"
                  />
                  <label for="inputtext" class="form-control-label"
                    >Dirección 2</label
                  >
                </span>
              </div>
              <div class="p-field">
                <span class="p-float-label">
                  <input
                    style="width: 100%"
                    type="text"
                    id="inputtext"
                    pInputText
                    class="form-control-input"
                    formControlName="direccion3A"
                  />
                  <label for="inputtext" class="form-control-label"
                    >Dirección 3</label
                  >
                </span>
              </div>
              <div class="p-d-flex">
                <div class="p-field">
                  <span class="p-float-label">
                    <input
                      style="width: 100%"
                      type="text"
                      id="inputtext"
                      pInputText
                      class="form-control-input"
                      formControlName="codigoPostalA"
                    />
                    <label for="inputtext" class="form-control-label"
                      >Codigo Postal</label
                    >
                  </span>
                </div>
                <div class="p-field p-mx-2">
                  <span class="p-float-label">
                    <input
                      style="width: 100%"
                      type="text"
                      id="inputtext"
                      pInputText
                      class="form-control-input"
                      formControlName="cuidadA"
                    />
                    <label for="inputtext" class="form-control-label"
                      >Ciudad</label
                    >
                  </span>
                </div>
                <div class="p-field">
                  <span class="p-float-label">
                    <input
                      style="width: 100%"
                      type="text"
                      id="inputtext"
                      pInputText
                      class="form-control-input"
                      formControlName="estadoA"
                    />
                    <label for="inputtext" class="form-control-label"
                      >Estado</label
                    >
                  </span>
                </div>
              </div>
              <div class="p-field">
                <span class="p-float-label">
                  <input
                    style="width: 100%"
                    type="text"
                    id="inputtext"
                    pInputText
                    class="form-control-input"
                    formControlName="emailA"
                  />
                  <label for="inputtext" class="form-control-label"
                    >Dirección de email</label
                  >
                </span>
              </div>
              <div class="p-d-flex">
                <div class="p-field">
                  <span class="p-float-label">
                    <p-dropdown
                      inputId="dropdown"
                      [autoDisplayFirst]="false"
                      [options]="phones"
                      class="form-control-ckb"
                      formControlName="tipoTelefonoA"
                      optionLabel="name"
                      optionValue="name"
                    ></p-dropdown>
                    <label for="dropdown" class="form-control-label"
                      >Seleccionar</label
                    >
                  </span>
                </div>

                <div class="p-field">
                  <span class="p-float-label p-mx-2">
                    <input
                      style="width: 100%"
                      type="text"
                      id="inputtext"
                      pInputText
                      class="form-control-input"
                      formControlName="codigoA"
                    />
                    <label for="inputtext" class="form-control-label"
                      >Código</label
                    >
                  </span>
                </div>
                <div class="p-field">
                  <span class="p-float-label">
                    <input
                      style="width: 100%"
                      type="text"
                      id="inputtext"
                      pInputText
                      class="form-control-input"
                      formControlName="telefonoA"
                    />
                    <label for="inputtext" class="form-control-label"
                      >Teléfono</label
                    >
                  </span>
                </div>
              </div>
              <!-- <div class="p-d-flex">
              <div class="p-field">
                <nb-checkbox value=" Direccion Residencial">
                  Dirección Residencial</nb-checkbox
                >
              </div>
              <div class="p-field p-mx-2">
                <nb-checkbox value="Notificaciones Email">
                  Notificaciones Email</nb-checkbox
                >
              </div>
              <div class="p-field">
                <nb-checkbox value="Notificaciones SMS">
                  Notificaciones SMS</nb-checkbox
                >
              </div>
            </div> -->

              <div class="p-d-flex">
                <button
                  pButton
                  pRipple
                  style="background: #fb9b14"
                  type="submit"
                  label="PROCEDER A PAGO"
                  class="label-button-warning p-button-warning p-mx-2"
                ></button>
                <button
                  pButton
                  pRipple
                  type="button"
                  style="background: #47a7dd"
                  label=" LIMPIAR DIRECCION"
                  class="label-button-warning p-button-success"
                ></button>
              </div>
            </div>
          </div>
          <!--  Fin Seccion Formulario -- A: -->
        </form>
      </div>
    </div>
  </nb-layout-column>
</nb-layout>
