<nb-layout>
  <nb-layout-column>
    <div class="p-grid package-container vertical-container">
      <div class="p-col-12"></div>
      <div class="p-col-12"></div>
      <div class="p-col">
        <app-stepper-detail></app-stepper-detail>
      </div>
      <div class="p-col-12"></div>
      <div class="p-col-12"></div>
      <div class="p-col-12">
        <div class="p-text-center p-text-bold" style="font-size: 36px">
          i-box
        </div>
      </div>
      <div class="p-col-12"></div>
      <div class="p-col-12"></div>
      <div class="p-col-5"></div>
      <div class="p-d-flex">
        <button
          pButton
          pRipple
          type="button"
          style="background: #eb5757; color: #ffffff"
          label="Cancel"
          [routerLink]="['../../dash', id]"
          class="p-button-danger"
        ></button>

        <button
          pButton
          pRipple
          type="button"
          style="background: #ffffff; border: 1px solid #c1c9d2"
          label="Previous"
          [routerLink]="['../../dash', id]"
          class="p-mx-2"
        ></button>
      </div>
      <div class="p-col-5"></div>
      <div class="p-col-12"></div>
      <div class="p-col-10"></div>
      <div class="p-col-2">
        <button
          pButton
          pRipple
          [routerLink]="['../../newcustomerebox', id]"
          style="
            background: #5e72e4;
            color: #ffffff;
            font-weight: 700;

            font-size: 14px;
            padding: 7px 12px 7px 12px;
          "
          type="button"
          label="Nuevo Cliente"
        ></button>
      </div>
      <div class="p-col-12">
        <p-table
          [globalFilterFields]="[
            'name',
            'country.name',
            'representative.name',
            'status'
          ]"
          editMode="row"
        >
          <ng-template pTemplate="header">
            <tr>
              <th pSortableColumn="representative.name">
                Representative
                <p-sortIcon field="representative.name"></p-sortIcon>
              </th>
              <th pSortableColumn="name">
                Name <p-sortIcon field="name"></p-sortIcon>
              </th>
              <th pSortableColumn="country.name">
                Country <p-sortIcon field="country.name"></p-sortIcon>
              </th>
              <th pSortableColumn="company">
                Company <p-sortIcon field="company"></p-sortIcon>
              </th>
              <th pSortableColumn="status">
                Status <p-sortIcon field="status"></p-sortIcon>
              </th>
              <th pSortableColumn="date">
                Date <p-sortIcon field="date"></p-sortIcon>
              </th>
              <th></th>
            </tr>
            <tr>
              <th>
                <input
                  pInputText
                  type="text"
                  placeholder="Search by Name"
                  class="form-control-input-ibox"
                />
              </th>
              <th>
                <input
                  pInputText
                  type="text"
                  placeholder="Search by Name"
                  class="form-control-input-ibox"
                />
              </th>
              <th>
                <input
                  pInputText
                  type="text"
                  placeholder="Search by Name"
                  class="form-control-input-ibox"
                />
              </th>
              <th>
                <input
                  pInputText
                  type="text"
                  placeholder="Search by Country"
                  class="form-control-input-ibox"
                />
              </th>
              <th>
                <input
                  pInputText
                  type="text"
                  placeholder="Search by Representative"
                  class="form-control-input-ibox"
                />
              </th>
              <th>
                <input
                  pInputText
                  type="text"
                  placeholder="Search by Status"
                  class="form-control-input-ibox"
                />
              </th>
            </tr>
            <tr [pEditableRow]="product">
              <td>
                <p-cellEditor>
                  <ng-template pTemplate="input">
                    <input
                      pInputText
                      class="form-control-input-ibox"
                      type="text"
                      [(ngModel)]="product.representative!.name"
                    />
                  </ng-template>
                  <ng-template pTemplate="output">
                    {{ product.representative!.name }} </ng-template
                  >y</p-cellEditor
                >
              </td>
              <td>
                <p-cellEditor>
                  <ng-template pTemplate="input">
                    <input
                      pInputText
                      class="form-control-input-ibox"
                      type="text"
                      [(ngModel)]="product.name"
                    />
                  </ng-template>
                  <ng-template pTemplate="output">
                    {{ product.name }} </ng-template
                  >y</p-cellEditor
                >
              </td>
              <td>
                <p-cellEditor>
                  <ng-template pTemplate="input">
                    <input
                      pInputText
                      class="form-control-input-ibox"
                      type="text"
                      [(ngModel)]="product.country!.name"
                    />
                  </ng-template>
                  <ng-template pTemplate="output">
                    {{ product.country!.name }} </ng-template
                  >y</p-cellEditor
                >
              </td>
              <td>
                <p-cellEditor>
                  <ng-template pTemplate="input">
                    <input
                      pInputText
                      class="form-control-input-ibox"
                      type="text"
                      [(ngModel)]="product.company"
                    />
                  </ng-template>
                  <ng-template pTemplate="output">
                    {{ product.company }} </ng-template
                  >y</p-cellEditor
                >
              </td>
              <td>
                <p-cellEditor>
                  <ng-template pTemplate="input">
                    <input
                      pInputText
                      class="form-control-input-ibox"
                      type="text"
                      [(ngModel)]="product.status"
                    />
                  </ng-template>
                  <ng-template pTemplate="output" [class]="status">
                    {{ product.status }} </ng-template
                  >y</p-cellEditor
                >
              </td>
              <td>
                <p-cellEditor>
                  <ng-template pTemplate="input">
                    <input
                      pInputText
                      class="form-control-input-ibox"
                      type="text"
                      [(ngModel)]="product.date"
                    />
                  </ng-template>
                  <ng-template pTemplate="output">
                    {{ product.date }} </ng-template
                  >y</p-cellEditor
                >
              </td>
              <td style="text-align: center">
                <button
                  *ngIf="!editing"
                  pButton
                  pRipple
                  pInitEditableRow
                  type="button"
                  icon="pi pi-pencil"
                  (click)="onRowEditInit(product)"
                  class=""
                ></button>
                <button
                  *ngIf="editing"
                  pButton
                  pRipple
                  pSaveEditableRow
                  type="button"
                  icon="pi pi-check"
                  (click)="onRowEditSave(product)"
                  class="p-mr-2"
                ></button>
                <button
                  *ngIf="editing"
                  pButton
                  pRipple
                  pCancelEditableRow
                  type="button"
                  icon="pi pi-times"
                  (click)="onRowEditCancel(product, 1)"
                  class=""
                ></button>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
      <div class="p-col-8"></div>

      <div class="p-col-7"></div>
      <div class="p-col-12"></div>
    </div>
  </nb-layout-column>
</nb-layout>
