<nb-layout>
  <nb-layout-column>
    <div class="p-grid package-container vertical-container">
      <div class="p-col-12"></div>
      <div class="p-col-12"></div>

      <div class="p-col-12"></div>
      <div class="p-col-12"></div>
      <div class="p-col-12">
        <div class="p-text-center p-text-bold" style="font-size: 36px">
          Lista i-Box
        </div>
      </div>
      <div class="p-col-12"></div>
      <div class="p-col-12"></div>
      <div class="p-md-8 p-col-12"></div>

      <div class="p-md-4 p-col-12">
        <div class="p-d-flex">
          <button
            pButton
            pRipple
            type="button"
            label="NUEVO CLIENTE"
            [routerLink]="['../newcustomerebox']"
          ></button>

          <button
            pButton
            pRipple
            type="button"

            label="NUEVO IBOX"
            [routerLink]="['../ebox/new']"
            class="p-mx-2"
          ></button>
        </div>
      </div>
      <div class="p-col-12"></div>

      <div class="p-col-12">
        <p-toast></p-toast>
        <p-table
          [showCurrentPageReport]="true"
          [rowsPerPageOptions]="[10, 25, 50]"
          [value]="iboxs!"
          [autoLayout]="true"
          editMode="row"
        >
          <ng-template pTemplate="caption">
            <div class="p-d-flex">
              <span class="p-input-icon-left p-ml-auto">
                <i class="pi pi-search"></i>
                <input
                  pInputText
                  type="text"
                  class="form-control-input-ibox"
                  placeholder="Search keyword"
                />
              </span>
            </div>
          </ng-template>
          <ng-template pTemplate="header">
            <tr>
              <th>#i-box</th>
              <th>Clientes Asignados</th>
              <th>Contenido</th>
              <th>Status</th>
              <th></th>
            </tr>
            <tr>
              <th>
                <p-columnFilter
                  type="text"
                  class="form-control-input-ibox"
                  field="i-box"
                ></p-columnFilter>
              </th>
              <th>
                <p-columnFilter type="text" field="customer"></p-columnFilter>
              </th>
              <th span="2"></th>
              <th>
                <p-columnFilter
                  field="status"
                  matchMode="equals"
                  [showMenu]="false"
                >
                  <ng-template
                    pTemplate="filter"
                    let-value
                    let-filter="filterCallback"
                  >
                    <p-dropdown
                      [ngModel]="value"
                      [options]="statuses"
                      (onChange)="filter($event.value)"
                      placeholder="Any"
                      [showClear]="true"
                    >
                      <ng-template let-option pTemplate="item">
                        <span
                          [class]="'customer-badge status-' + option.value"
                          >{{ option.label! }}</span
                        >
                      </ng-template>
                    </p-dropdown>
                  </ng-template>
                </p-columnFilter>
              </th>
            </tr>
          </ng-template>

          <ng-template pTemplate="body" let-ibox let-rowIndex="rowIndex">
            <!-- <tr [pEditableRow]="ibox">
              <td

              >
                <p-cellEditor>
                  <ng-template pTemplate="input">
                    <input
                      pInputText
                      class="form-control-input-ibox"
                      type="text"
                      [(ngModel)]="product.id"
                    />
                  </ng-template>
                  <ng-template pTemplate="output">
                    {{ product.id }} </ng-template
                  >y</p-cellEditor
                >
              </td>
              <td>
                <p-cellEditor>
                  <ng-template pTemplate="input">
                    <input
                      pInputText
                      class="form-control-input-ibox"
                      type="text"
                      [(ngModel)]="ibox.name"
                    />
                  </ng-template>
                  <ng-template pTemplate="output"> {{ ibox.code }} </ng-template
                  >y</p-cellEditor
                >
              </td>
              <td>
                <p-cellEditor>
                  <ng-template pTemplate="input">
                    <input
                      pInputText
                      class="form-control-input-ibox"
                      type="text"
                      [(ngModel)]="product.country!.name"
                    />
                  </ng-template>
                  <ng-template pTemplate="output">
                    {{ product.country!.name }} </ng-template
                  >y</p-cellEditor
                >
              </td>

              <td>
                <p-cellEditor class="status-success">
                  <ng-template pTemplate="input">
                    <input
                      pInputText
                      class="form-control-input-ibox"
                      type="text"
                      [(ngModel)]="product.status!"
                    />
                  </ng-template>
                  <ng-template pTemplate="output">
                    {{ product.status! }} </ng-template
                  >y</p-cellEditor
                >
              </td>

              <td style="text-align: center">
                <button
                  *ngIf="!editing"
                  pButton
                  pRipple
                  pInitEditableRow
                  type="button"
                  icon="pi pi-pencil"
                  (click)="onRowEditInit(product)"
                  class=""
                ></button>
                <button
                  *ngIf="editing"
                  pButton
                  pRipple
                  pSaveEditableRow
                  type="button"
                  icon="pi pi-check"
                  (click)="onRowEditSave(product)"
                  class="p-mr-2"
                ></button>
                <button
                  *ngIf="editing"
                  pButton
                  pRipple
                  pCancelEditableRow
                  type="button"
                  icon="pi pi-times"
                  (click)="onRowEditCancel(product, 1)"
                  class=""
                ></button>
              </td>
            </tr> -->

            <tr>
              <td>{{ ibox.code }}</td>
            </tr>
          </ng-template>
        </p-table>
      </div>
      <div class="p-col-8"></div>

      <div class="p-col-7"></div>
      <div class="p-col-12"></div>
    </div>
  </nb-layout-column>
</nb-layout>
