<nb-layout>
  <nb-layout-column>
    <div class="p-grid package-container vertical-container">
      <div class="p-col-12"></div>
      <div class="p-col-12"></div>
      <div class="p-col">
        <app-stepper-detail></app-stepper-detail>
      </div>
      <div class="p-col-12"></div>
      <div class="p-col-12"></div>
      <div class="p-col-12">
        <div class="p-text-center p-text-bold" style="font-size: 36px">
          i-box
        </div>
      </div>
      <div class="p-col-12"></div>
      <div class="p-col-12"></div>
      <div class="p-col-5"></div>
      <div class="p-d-flex">
        <button
          pButton
          pRipple
          type="button"
          style="background: #eb5757; color: #ffffff"
          label="Cancel"
          [routerLink]="['../../dash', id]"
          class="p-button-danger"
        ></button>

        <button
          pButton
          pRipple
          type="button"
          style="background: #ffffff; border: 1px solid #c1c9d2"
          label="Previous"
          [routerLink]="['../../dash', id]"
          class="p-mx-2"
        ></button>
      </div>
      <div class="p-col-5"></div>
      <div class="p-col-12"></div>
      <div class="p-col-10"></div>
      <div class="p-col-2">
        <button
          pButton
          pRipple
          [routerLink]="['../../newcustomerebox', id]"
          style="
            background: #5e72e4;
            color: #ffffff;
            font-weight: 700;

            font-size: 14px;
            padding: 7px 12px 7px 12px;
          "
          type="button"
          label="Nuevo Cliente"
        ></button>
      </div>
      <div class="p-col-12">
        <p-table
          #dt
          [value]="products"
          [rows]="10"
          [paginator]="true"
          [globalFilterFields]="[
            'name',
            'country.name',
            'representative.name',
            'status'
          ]"
          [(selection)]="selectedProducts"
          [rowHover]="true"
          dataKey="id"
          currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
          [showCurrentPageReport]="true"
        >
          <ng-template pTemplate="caption">
            <div class="p-d-flex p-ai-center p-jc-between">
              <h5 class="p-m-0">Lista de Ibox</h5>
              <span class="p-input-icon-left">
                <i class="pi pi-search"></i>
                <input pInputText type="text" placeholder="Search..." />
              </span>
            </div>
          </ng-template>
          <ng-template pTemplate="header">
            <tr>
              <th style="width: 3rem">
                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
              </th>
              <th pSortableColumn="name">
                Name <p-sortIcon field="name"></p-sortIcon>
              </th>
              <th pSortableColumn="price">
                Price <p-sortIcon field="price"></p-sortIcon>
              </th>
              <th pSortableColumn="category">
                Category <p-sortIcon field="category"></p-sortIcon>
              </th>
              <th pSortableColumn="rating">
                Reviews <p-sortIcon field="rating"></p-sortIcon>
              </th>
              <th pSortableColumn="inventoryStatus">
                Status <p-sortIcon field="inventoryStatus"></p-sortIcon>
              </th>
              <th></th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-product>
            <tr>
              <td>
                <p-tableCheckbox [value]="product"></p-tableCheckbox>
              </td>
              <td>{{ product.name }}</td>
              <td>{{ product.price | currency: "USD" }}</td>
              <td>{{ product.category }}</td>
              <td>
                <p-rating
                  [ngModel]="product.rating"
                  [readonly]="true"
                  [cancel]="false"
                ></p-rating>
              </td>
              <td>
                <span
                  [class]="
                    'product-badge status-' +
                    product.inventoryStatus.toLowerCase()
                  "
                  >{{ product.inventoryStatus }}</span
                >
              </td>
              <td>
                <button
                  pButton
                  pRipple
                  icon="pi pi-pencil"
                  class="p-button-rounded p-button-success p-mr-2"
                  (click)="editProduct(product)"
                ></button>
                <button
                  pButton
                  pRipple
                  icon="pi pi-trash"
                  class="p-button-rounded p-button-warning"
                ></button>
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="summary">
            <div class="p-d-flex p-ai-center p-jc-between">
              EL total son {{ products ? products.length : 0 }} de productos.
            </div>
          </ng-template>
        </p-table>
      </div>
      <div class="p-col-8"></div>

      <div class="p-col-7"></div>
      <div class="p-col-12"></div>
    </div>
  </nb-layout-column>
</nb-layout>
