<nb-stepper orientation="horizontal">

  <nb-step label=" Elegir Operación"></nb-step>
  <nb-step label="Caracteristicas">
    <ng-template #stepLabel>
      <div>Elegir Operación</div>
    </ng-template>
  </nb-step>
  <nb-step label="Precios">
    <ng-template #stepLabel>
      <div>Elegir Operación</div>
    </ng-template>
  </nb-step>
  <nb-step label="Datos del Cliente">
    <ng-template #stepLabel>
      <div>Elegir Operación</div>
    </ng-template>
  </nb-step>
  <nb-step label="Procesar pedido">
    <ng-template #stepLabel>
      <div>Elegir Operación</div>
    </ng-template>
  </nb-step>
  <nb-step label="Confirmación">
    <ng-template #stepLabel>
      <div>Elegir Operación</div>
    </ng-template>
  </nb-step>
</nb-stepper>
